@import 'src/assets/styles/_include-media.scss';

.kohesio-map-popup-wrapper.leaflet-popup-content{
    margin:0;
    overflow: auto !important;
}

.kohesio-map-popup-wrapper {
    max-width: 600px;
    min-width: 200px;
    display: flex;
    flex-direction: column;

    .leaflet-popup-content{
        margin-top:0;
        margin-left:0;
    }

    @include media(">small") {
        min-width: 300px;
    }

    a {
        font-size: 12px;
        padding: 3px;
        margin: 3px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        @include media(">small") {
            font-size: 14px;
            padding: 5px;
            margin: 0;
            background: none;
        }
    }
}
