@import 'src/assets/styles/_include-media.scss';

#map{
    height: 725px;
    z-index: 0;
}

#map-details, #map-beneficiary-details{
    height: 400px;
}

#map-inside {
    height: 600px;
}

.map-container {
    position: relative;
    .left {
        position: absolute;
        top: 10px;
        left: 50px;
        z-index: 1;
    }
    .right{
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 1;
    }
    .right-outermost-regions{
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 1;
        width: 218px;
    }
}
.map-regions-wrapper {
    position: absolute;
    top:0;
    left:40px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;

    ux-button{
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

.map-outermost-regions-container{
    position: absolute;
    bottom: 30px;
    z-index: 1;
    right: 5px;
    background-color: white;
    width: 218px;
    border: 1px solid #D2D2D2;
    .title{
        text-align: center;
        background-color: #EEE;
        padding: 8px;
        border-bottom: 1px solid #D2D2D2;
    }
}

.map-outermost-regions-wrapper.withoutColumns{
    display: flex;
    flex-direction: column;
    .outermostRegion-wrapper{
        max-height: 100px;
    }
}

.map-outermost-regions-wrapper.withColumns{
    column-count: 2;
    .outermostRegion-wrapper{
        max-height: 120px;
    }
}

.regionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .regionName {
        font-weight: bold;
        font-size: 12px;
    }

    .regionCount {
        font-size: 11px;
    }
}

:host ::ng-deep {
    .leaflet-popup-content {
        overflow: auto;
        overflow-x: hidden;
        max-height: 300px;
        margin: 20px 10px 5px 10px;
    }
    .leaflet-popup-content::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
    }
    
    .leaflet-popup-content::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .5);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
    @include media("<=medium"){
        .leaflet-popup{
            width:220px;
        }
        .leaflet-popup-content {
            max-width: 200px;
        }
    }
    @include media(">medium"){
        .leaflet-popup{
            width:315px;
        }
        .leaflet-popup-content {
            max-width: 400px;
        }
    }
}

.outermostRegion-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    max-height: 120px;

    svg g path{
        fill-opacity: 0.5;
        stroke-width: 2;
        stroke-opacity: 1;
        fill: #ff7800;
        stroke: #ff7800;
    }

    label{
        cursor: pointer;
        text-align: center;
    }

}

.outermostRegion-wrapper:hover{
    background-color: aliceblue;
}

:host ::ng-deep {
    .label-regions{
        margin-left: -40px !important;
        margin-top: -2px !important;
        width: 84px !important;
        transform: translate3d(784px, 400px, 0px);
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
}

/*Mobile Styles*/
@include media("<=small"){
    .right button .ecl-button__label{
        display:none;
    }
    .map-outermost-regions-wrapper.withoutColumns{
        flex-direction: row;
    }
    .map-outermost-regions-wrapper.withColumns{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        .outermostRegion-wrapper{
            max-height: 85px;
            max-width: 95px;
        }
    }
    .map-outermost-regions-container{
        bottom: 15px;
        right: 0;
        width: 100%;
    }
    .outermostRegion-wrapper{
        max-width: 80px;
        label{
            font-size:14px;
        }
    }
    
}

