<nav class="ecl-breadcrumb ecl-page-header__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
     data-ecl-breadcrumb="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb__container">
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable">
            <a [routerLink]="['/']"
               class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link" i18n="@@comp.breadcrumb.home">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link" i18n="@@page.beneficiaries.breadcrumb.beneficiaries">Beneficiaries</span>
        </li>
    </ol>
</nav>
<div style="display: flex">
    <button class="ecl-button ecl-button--secondary" type="button" (click)="sidenav.toggle()">
    <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true" i18n="@@page.beneficiaries.button.filters">Filters</span>
        <svg *ngIf="!sidenavOpened" class="ecl-icon ecl-icon--xs ecl-icon--rotate-90 ecl-button__icon ecl-button__icon--after" focusable="false" aria-hidden="true" data-ecl-icon="">
            <use xlink:href="assets/images/ecl/icons.a892a63d.svg#corner-arrow"></use>
        </svg>
        <svg *ngIf="sidenavOpened" class="ecl-icon ecl-icon--xs ecl-icon--rotate-270 ecl-button__icon ecl-button__icon--after" focusable="false" aria-hidden="true" data-ecl-icon="">
            <use xlink:href="assets/images/ecl/icons.a892a63d.svg#corner-arrow"></use>
        </svg>
    </span>
    </button>
    <app-filter-chips></app-filter-chips>
</div>
<ng-template cdkConnectedOverlay
             (overlayOutsideClick)="onOutsideClick()"
             [cdkConnectedOverlayOrigin]="infoPopupLabelTypeTrigger"
             [cdkConnectedOverlayOpen]="infoPopupLabelType">
    <div style="background-color: white;color: black;border: 0;max-width: 600px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    z-index: 999;border-radius: 3px;padding: 10px;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <h5 class="ecl-u-type-heading-5 ecl-u-mv-none" i18n="@@page.beneficiaries.label.type">TYPE</h5>
            <svg (click)="infoPopupLabelType = false;" class="ecl-icon ecl-icon--s" focusable="true" aria-hidden="true" style="cursor: pointer;">
                <use xlink:href="assets/images/ecl/icons.a892a63d.svg#close"></use>
            </svg>
        </div>
        <hr>
        <p class="ecl-u-type-paragraph" i18n="@@page.beneficiaries.labelInfo.type">The type of beneficiary is guessed by an algorithm and is therefore not 100% accurate. Only a subset of beneficiaries is currently tagged with this information.</p>
    </div>
</ng-template>

<mat-drawer-container autosize >
    <mat-drawer #sidenav [mode]="mobileQuery ? 'over' : 'side'" [opened]="!mobileQuery" (openedStart)="sidenavOpened = true" (closedStart)="sidenavOpened = false" style="width: 350px">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>
                    <div i18n="@@page.beneficiaries.label.beneficiaryName" class="label">BENEFICIARY NAME</div>
                    <kohesio-ecl-form-text-input formControlName="name"></kohesio-ecl-form-text-input>
                </kohesio-ecl-form-label>
            </kohesio-ecl-form-group>
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>
                    <div  i18n="@@page.beneficiaries.label.country" class="label">COUNTRY</div>
                    <kohesio-ecl-form-select formControlName="country" [items]="this.filters.countries"
                                             (change)="onCountryChange()"></kohesio-ecl-form-select>
                </kohesio-ecl-form-label>
            </kohesio-ecl-form-group>
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>
                    <div  i18n="@@page.beneficiaries.label.region" class="label">REGION</div>
                    <kohesio-ecl-form-select formControlName="region" [items]="this.filters.regions"
                                             [isDisabled]="!this.myForm.value.country"
                                             i18n-placeholder="Select a country|@@page.beneficiaries.placeholder.region"
                                             placeholder="Select a country" ></kohesio-ecl-form-select>
                </kohesio-ecl-form-label>
            </kohesio-ecl-form-group>
            <br/>
            <kohesio-ecl-accordion i18n-title="ADVANCED FILTERS|@@page.beneficiaries.label.advancedFilters" title="ADVANCED FILTERS" [collapsed]="!advancedFilterIsExpanded" (onChange)="onToggleAdvancedFilters($event)">
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div  i18n="@@page.beneficiaries.label.fund" class="label">FUND</div>
                        <kohesio-ecl-form-select formControlName="fund" [items]="this.filters.funds"></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div  i18n="@@page.beneficiaries.label.programme" class="label">PROGRAMME</div>
                        <kohesio-ecl-form-select formControlName="program" [items]="this.filters.programs"
                                                 [isDisabled]="!this.myForm.value.country"
                                                 placeholder="Select a country"
                                                 i18n-placeholder="Select a country|@@page.beneficiaries.placeholder.program" ></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div class="label">
                            <ng-container i18n="@@page.beneficiaries.label.type">TYPE</ng-container>
                            <div (click)="toggleInfoBtn()" cdkOverlayOrigin #infoPopupLabelTypeTrigger="cdkOverlayOrigin" style="cursor:pointer;" class="infoButton" >
                                <svg class="ecl-icon ecl-icon--s" focusable="true" aria-hidden="true">
                                    <use xlink:href="assets/images/ecl/icons.a892a63d.svg#information"></use>
                                </svg>
                            </div>
                        </div>
                        <kohesio-ecl-form-select formControlName="beneficiaryType" [items]="this.filters.beneficiaryType"></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
            </kohesio-ecl-accordion>
            <br />
            <div class="search-buttons">
                <button type="button" (click)="resetForm()"
                        class="ecl-button ecl-button--secondary"
                        type="button"
                        i18n="@@page.beneficiaries.button.resetFilters">Reset Filters</button>
                <kohesio-ecl-button type="submit" i18n="@@page.beneficiaries.button.showResults">Show Results</kohesio-ecl-button>
            </div>
        </form>
    </mat-drawer>
    <mat-drawer-content [ngClass]="advancedFilterIsExpanded ? 'kohesio-mat-drawer-container-expanded' : 'kohesio-mat-drawer-container'" [style]="isPlatformServer() ? 'margin-left:350px;' : ''">
        <div class="tools">
            <div class="left-table-tools">
                <app-download-button *ngIf="count && count <= 1000" [filters]="getFilters()" type="beneficiaries">
                </app-download-button>
            </div>
            <div class="right-table-tools">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <kohesio-ecl-form-group>
                        <kohesio-ecl-form-select ariaLabel="sort" [hasEmptyValue]="false" formControlName="sort"
                                                 [items]="this.filters.sortBeneficiaries" (change)="onSortChange()">
                        </kohesio-ecl-form-select>
                    </kohesio-ecl-form-group>
                </form>
                <mat-paginator [pageSize]="pageSize" [length]="count" [hidePageSize]="true" (page)="onPaginate($event)">
                </mat-paginator>
            </div>
        </div>
        <div class="no-results" *ngIf="dataSource && dataSource.data.length === 0 && !isLoading">No results</div>
        <mat-table [dataSource]="dataSource" *ngIf="dataSource && dataSource.data.length !== 0">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef i18n="@@page.beneficiaries.table.header.beneficiaryName">BENEFICIARY NAME</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- <ux-popover #popover title="{{row.countryName ? row.countryName : row.countryCode}}" [showCloseIcon]="false" size="small" [hasNoContentPadding]="true"></ux-popover> -->
                    <img class="flag" [alt]="'Flag of ' + row.countryCode" src="{{'assets/images/flags/' + row.countryCode?.toLowerCase() + '.png'}}">
                    <span>
                        <a class="ecl-link ecl-link--standalone" [routerLink]="['/'+translateService.routes.beneficiaries+'/' + row.id]">{{row.label}}</a> <span *ngIf="row.transliteration" class="muted-text"> ({{row.transliteration}})</span>
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="budget">
                <mat-header-cell *matHeaderCellDef i18n="@@page.beneficiaries.table.header.totalBudget">TOTAL BUDGET</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-header">
                        <ng-container i18n="@@page.beneficiaries.table.header.totalBudget">TOTAL BUDGET</ng-container>
                        &nbsp;:&nbsp;</span> {{ row.budget ? (row.budget | currency:'EUR':'symbol':'1.2-2':'fr') : 'n/a'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="euBudget">
                <mat-header-cell *matHeaderCellDef i18n="@@page.beneficiaries.table.header.euContribution">EU CONTRIBUTION</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-header">
                        <ng-container i18n="@@page.beneficiaries.table.header.euContribution">EU CONTRIBUTION</ng-container>
                        &nbsp;:&nbsp;</span> {{row.euBudget ? (row.euBudget | currency:'EUR':'symbol':'1.2-2':'fr') : 'n/a'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="numberProjects">
                <mat-header-cell *matHeaderCellDef style="text-align: center;" i18n="@@page.beneficiaries.table.header.numberProjects">NUMBER OF PROJECTS</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-header">
                        <ng-container i18n="@@page.beneficiaries.table.header.numberProjects">NUMBER OF PROJECTS</ng-container>
                        &nbsp;:&nbsp;</span> {{row.numberProjects}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [hidden]="dataSource && dataSource.data.length === 0">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <kohesio-ecl-spinner *ngIf="isLoading"></kohesio-ecl-spinner>
        <mat-paginator [pageSize]="pageSize" [length]="count" [hidePageSize]="true" (page)="onPaginate($event)">
        </mat-paginator>
    </mat-drawer-content>
</mat-drawer-container>
