<!-- <ux-popover #popoverHelpBeneficiaryType title="TYPE">
    <p>The type of beneficiary is guessed by an algorithm and is therefore not 100% accurate. Only a subset of beneficiaries is currently tagged with this information.</p>
</ux-popover>

<eui-page class="projects-list">
    <eui-page-content>
        <eui-page-columns>
            <eui-page-column label="Filter" size="xxxxl" [isCollapsible]="true" [isCollapsed]="(uxAppShellService.breakpoints$ | async).isMobile" >
                <eui-page-column-body>
                    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <ux-form-group label="BENEFICIARY NAME" [isVertical]="true">
                            <input class="form-control" type="text" formControlName="name"/>
                        </ux-form-group>
                        <ux-form-group label="COUNTRY" [isVertical]="true">
                            <ux-form-control formControlName="country"
                                             [isSelect]="true"
                                             [selectOptions]="filters.countries"
                                             (modelChange)="onCountryChange()">
                            </ux-form-control>
                        </ux-form-group>
                        <ux-form-group [label]="this.myForm.value.country ? 'REGION' : 'REGION (select a country)'" [isVertical]="true">
                            <ux-form-control formControlName="region"
                                             [isSelect]="true"
                                             [isDisabled]="!this.myForm.value.country"
                                             [selectOptions]="filters.regions">
                            </ux-form-control>
                        </ux-form-group>

                        <ux-panel label="ADVANCED FILTERS" [isExpandable]="true" [isFlat]="true" [isExpanded]="advancedFilterExpanded">
                            <ux-form-group label="FUND" [isVertical]="true">
                                <ux-form-control formControlName="fund"
                                                 [isSelect]="true"
                                                 [selectOptions]="this.filters.funds">
                                </ux-form-control>
                            </ux-form-group>
                            <ux-form-group [label]="this.myForm.value.country ? 'PROGRAMME' : 'PROGRAMME (select a country)'" [isVertical]="true">
                                <ux-form-control formControlName="program"
                                                 [isSelect]="true"
                                                 [isDisabled]="!this.myForm.value.country"
                                                 [selectOptions]="this.filters.programs">
                                </ux-form-control>
                            </ux-form-group>
                            <ux-form-group label="TYPE" [isVertical]="true">
                                <uxFormGroupLeftTitleContent>
                                    <i class="eui-icon ux-icon-info-circle ux-u-cursor-help" (click)="popoverHelpBeneficiaryType.toggle($event)"></i>
                                </uxFormGroupLeftTitleContent>
                                <ux-form-control formControlName="beneficiaryType"
                                                 [isSelect]="true"
                                                 [selectOptions]="this.filters.beneficiaryType">
                                </ux-form-control>
                            </ux-form-group>
                        </ux-panel>
                        <div class="search-buttons">
                            <button type="button" euiButton euiBlockButton euiSecondary (click)="resetForm()"><span euiLabel>RESET FILTERS</span></button>&nbsp;
                            <button type="submit" euiButton euiBlockButton euiPrimary><span euiLabel>SHOW RESULTS</span></button>
                        </div>
                    </form>
                </eui-page-column-body>
            </eui-page-column>
            <eui-page-column class="column-without-title column-without-padding-top">
                <eui-page-column-body>
                    <div class="tools">
                        <div class="left-table-tools">
                            <app-download-button *ngIf="count && count <= 1000" [form]="myForm" type="beneficiaries"></app-download-button>
                        </div>
                        <div class="right-table-tools">
                            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                                <ux-form-control formControlName="sort"
                                                 [isSelect]="true"
                                                 [selectOptions]="this.filters.sortBeneficiaries"
                                                 placeholderLabel="No sort"
                                                 (modelChange)="onSortChange()">
                                </ux-form-control>
                            </form>
                            <mat-paginator [pageSize]="15"
                                           [length]="count"
                                           [hidePageSize]="true"
                                           (page)="onPaginate($event)">
                            </mat-paginator>
                        </div>
                    </div>
                    <div class="no-results" *ngIf="dataSource && dataSource.data.length === 0 && !isLoading">No results</div>
                    <ux-block-content [isBlocked]="isLoading">
                        <mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef>BENEFICIARY NAME</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <ux-popover #popover title="{{row.countryName ? row.countryName : row.countryCode}}" [showCloseIcon]="false" size="small" [hasNoContentPadding]="true">
                                    </ux-popover>
                                    <img class="flag" src="{{'assets/images/flags/' + row.countryCode?.toLowerCase() + '.png'}}" (mouseover)="popover.show($event)" (mouseout)="popover.hide($event)">
                                    <span>
                                        <a [routerLink]="['/beneficiaries/' + row.id]">{{row.label}}</a> <span *ngIf="row.transliteration" class="muted-text"> ({{row.transliteration}})</span>
                                    </span>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="budget">
                                <mat-header-cell *matHeaderCellDef>TOTAL BUDGET</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-header">TOTAL BUDGET&nbsp;:&nbsp;</span> {{ row.budget ? (row.budget | currency:'EUR':'symbol':'1.2-2':'fr') : 'n/a'}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="euBudget">
                                <mat-header-cell *matHeaderCellDef>EU CONTRIBUTION</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-header">EU CONTRIBUTION&nbsp;:&nbsp;</span> {{row.euBudget ? (row.euBudget | currency:'EUR':'symbol':'1.2-2':'fr') : 'n/a'}}
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="numberProjects">
                                <mat-header-cell *matHeaderCellDef>NUMBER OF PROJECTS</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <span class="mobile-header">NUMBER OF PROJECTS&nbsp;:&nbsp;</span> {{row.numberProjects}}
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns" [hidden]="dataSource && dataSource.data.length === 0"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                    </ux-block-content>
                </eui-page-column-body>
            </eui-page-column>
        </eui-page-columns>
    </eui-page-content>
</eui-page> -->

<!-- <h1 class="ecl-page-header-harmonised__title">Beneficiaries</h1> -->

<nav class="ecl-breadcrumb-harmonised ecl-page-header-harmonised__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
    data-ecl-breadcrumb-harmonised="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb-harmonised__container">
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <a [routerLink]="['/']"
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link">Beneficiaries</span>
        </li>
    </ol>
</nav>

<button class="ecl-button ecl-button--secondary" type="button" (click)="sidenav.toggle()">
    <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true">Filters</span>
        <svg *ngIf="!sidenavOpened" class="ecl-icon ecl-icon--xs ecl-icon--rotate-90 ecl-button__icon ecl-button__icon--after" focusable="false" aria-hidden="true" data-ecl-icon="">
            <use xlink:href="assets/images/ecl/icons.a892a63d.svg#corner-arrow"></use>
        </svg>
        <svg *ngIf="sidenavOpened" class="ecl-icon ecl-icon--xs ecl-icon--rotate-270 ecl-button__icon ecl-button__icon--after" focusable="false" aria-hidden="true" data-ecl-icon="">
            <use xlink:href="assets/images/ecl/icons.a892a63d.svg#corner-arrow"></use>
        </svg>
    </span>
</button>

<mat-drawer-container>
    <mat-drawer #sidenav [mode]="mobileQuery ? 'over' : 'side'" [opened]="!mobileQuery" (openedStart)="sidenavOpened = true" (closedStart)="sidenavOpened = false">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>KEYWORDS</kohesio-ecl-form-label>
                <kohesio-ecl-form-text-input formControlName="name"></kohesio-ecl-form-text-input>
            </kohesio-ecl-form-group>
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>COUNTRY</kohesio-ecl-form-label>
                <kohesio-ecl-form-select formControlName="country" [items]="this.filters.countries"
                    (change)="onCountryChange()"></kohesio-ecl-form-select>
            </kohesio-ecl-form-group>
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>{{this.myForm.value.country ? 'REGION' : 'REGION (select a country)'}}
                </kohesio-ecl-form-label>
                <kohesio-ecl-form-select formControlName="region" [items]="this.filters.regions"
                    [isDisabled]="!this.myForm.value.country"></kohesio-ecl-form-select>
            </kohesio-ecl-form-group>
            <br/>
            <kohesio-ecl-accordion title="ADVANCED FILTERS" [collapsed]="!advancedFilterExpanded">
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>FUND</kohesio-ecl-form-label>
                    <kohesio-ecl-form-select formControlName="fund" [items]="this.filters.funds">
                    </kohesio-ecl-form-select>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>{{this.myForm.value.country ? 'PROGRAMME' : 'PROGRAMME (select a country)'}}
                    </kohesio-ecl-form-label>
                    <kohesio-ecl-form-select formControlName="program" [items]="this.filters.programs"
                        [isDisabled]="!this.myForm.value.country"></kohesio-ecl-form-select>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>TYPE</kohesio-ecl-form-label>
                    <kohesio-ecl-form-select formControlName="beneficiaryType" [items]="this.filters.beneficiaryType">
                    </kohesio-ecl-form-select>
                </kohesio-ecl-form-group>
            </kohesio-ecl-accordion>
            <br />
            <div class="search-buttons">
                <button type="button" (click)="resetForm()" class="ecl-button ecl-button--secondary" type="button">Reset
                    Filters</button>
                <kohesio-ecl-button type="submit">Show Results</kohesio-ecl-button>
            </div>
        </form>
    </mat-drawer>
    <mat-drawer-content>
        <div class="tools">
            <div class="left-table-tools">
                <app-download-button *ngIf="count && count <= 1000" [form]="myForm" type="beneficiaries">
                </app-download-button>
            </div>
            <div class="right-table-tools">
                <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <kohesio-ecl-form-group>
                        <kohesio-ecl-form-select [hasEmptyValue]="false" formControlName="sort"
                            [items]="this.filters.sortBeneficiaries" (change)="onSortChange()">
                        </kohesio-ecl-form-select>
                    </kohesio-ecl-form-group>
                </form>
                <mat-paginator [pageSize]="pageSize" [length]="count" [hidePageSize]="true" (page)="onPaginate($event)">
                </mat-paginator>
            </div>
        </div>
        <div class="no-results" *ngIf="dataSource && dataSource.data.length === 0 && !isLoading">No results</div>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>BENEFICIARY NAME</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <!-- <ux-popover #popover title="{{row.countryName ? row.countryName : row.countryCode}}" [showCloseIcon]="false" size="small" [hasNoContentPadding]="true"></ux-popover> -->
                    <img class="flag" src="{{'assets/images/flags/' + row.countryCode?.toLowerCase() + '.png'}}">
                    <span>
                        <a class="ecl-link ecl-link--standalone" [routerLink]="['/beneficiaries/' + row.id]">{{row.label}}</a> <span *ngIf="row.transliteration" class="muted-text"> ({{row.transliteration}})</span>
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="budget">
                <mat-header-cell *matHeaderCellDef>TOTAL BUDGET</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-header">TOTAL BUDGET&nbsp;:&nbsp;</span> {{ row.budget ? (row.budget | currency:'EUR':'symbol':'1.2-2':'fr') : 'n/a'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="euBudget">
                <mat-header-cell *matHeaderCellDef>EU CONTRIBUTION</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-header">EU CONTRIBUTION&nbsp;:&nbsp;</span> {{row.euBudget ? (row.euBudget | currency:'EUR':'symbol':'1.2-2':'fr') : 'n/a'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="numberProjects">
                <mat-header-cell *matHeaderCellDef style="text-align: center;">NUMBER OF PROJECTS</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span class="mobile-header">NUMBER OF PROJECTS&nbsp;:&nbsp;</span> {{row.numberProjects}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" [hidden]="dataSource && dataSource.data.length === 0">
            </mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <kohesio-ecl-spinner *ngIf="isLoading"></kohesio-ecl-spinner>
    </mat-drawer-content>
</mat-drawer-container>
