.ecl-carousel{
    margin: 1rem 0;
}
.ecl-carousel__toggle {
    border-radius: 0%;
}
.ecl-link--icon:not(.ecl-link--standalone) .ecl-link__label {
    text-decoration: none;
}
.ecl-carousel__controls{
    background-color: #004494;
}
.ecl-carousel__next, .ecl-carousel__prev{
    background-color: #004494;
}