@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.site-chrome-custom-header div.site-chrome-custom-header header.regular-header ul.header-services{font-size:12px}
.site-chrome-custom-header header{font-size:10px;line-height:1}

@font-face{font-family:'cs-ECSquareSansPro-Regular';src:url("/api/assets/1FACBEB3-CB59-4008-83AE-67AF13BF9B27");
    src:url("/api/assets/1FACBEB3-CB59-4008-83AE-67AF13BF9B27?#iefix")
    format("embedded-opentype"),url("/api/assets/318319DD-5DFB-48BA-9F8C-E2179B12D021"),
    url("/api/assets/1FACBEB3-CB59-4008-83AE-67AF13BF9B27") format("truetype")}



body{
    background-color: white;
    margin:0;
    padding:0;
}

#inner-header{
    max-width: 1280px;
    margin: 10px auto 20px auto;
    display:flex;
    align-items: center;
    color: #0065a2;
    border-bottom: 1px solid #0065a2;
    padding-bottom: 20px;
}

#inner-header .title h1{
    margin-bottom: 0;
    font-size: 40px;
}
#inner-header .title h3{
    margin-top: 0;
}

header{
    background-color: white;
}

#inner-header .title{
    margin-left: 30px;
}

#content{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.leaflet-popup-content p{
    margin:0;
}

.basic-filters{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: #1792e0;
    color:white;
}

.filter-field{
    flex: 1;
    margin-right:20px;
}

button{
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0065a2;
    color: white;
    outline: none;
}

.ss-option{
    display: flex;
    align-items: center;
}

.ss-option img{
    margin-right: 5px;
    width:24px;
}
.ss-content .ss-list .ss-option.ss-disabled img{
    opacity: 0.5;
}

.ss-value-text{
    display: flex;
    align-items: center;
}

.ss-value-text img{
    width: 16px;
    margin-right: 5px;
}

#projects-list{
    margin: 30px 0;
}

.projects-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px
}
.projects-grid .card{
    border: 2px solid #009fe3;
    border-radius: 20px;
    min-height: 470px;
}
.projects-grid .card .header{
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: #009fe3;
    border-radius: 16px 16px 0 0;
    height: 100px;
}
.projects-grid .card.TO01 .header,
.projects-grid .card.TO02 .header,
.projects-grid .card.TO03 .header,
.projects-grid .card.TO04 .header{
    background-color: #ff9900;
}
.projects-grid .card.TO05 .header,
.projects-grid .card.TO06 .header,
.projects-grid .card.TO07 .header{
    background-color: #76b043;
}
.projects-grid .card.TO08 .header,
.projects-grid .card.TO09 .header,
.projects-grid .card.TO10 .header,
.projects-grid .card.TO11 .header{
    background-color: #009fe3;
}

.projects-grid .card.TO01,
.projects-grid .card.TO02,
.projects-grid .card.TO03,
.projects-grid .card.TO04{
    border: 2px solid #ff9900;
}
.projects-grid .card.TO05,
.projects-grid .card.TO06,
.projects-grid .card.TO07{
    border: 2px solid #76b043;
}
.projects-grid .card.TO08,
.projects-grid .card.TO09,
.projects-grid .card.TO10,
.projects-grid .card.TO11{
    border: 2px solid #009fe3;
}


.projects-grid .card .header .images{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
}
.projects-grid .card .header .images .flag{
    width: 24px;
    margin-top: -14px;
}
.projects-grid .card .info-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #0065a2;
    color: white;
}
.projects-grid .card .info-bar img{
    width:24px;
}
.projects-grid .card p{
    margin: 0;
    padding: 10px;
    line-height: 1.4;
}


footer{
    border-top: 1px solid #0065a2;
    height: 100px;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
