
// Theme pages

.theme-card {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
}

.blue {
    background: #1c679d;
}

.green {
    background: #34B392;
}

.yellow{
    background: #ABC91E;
}

.grey{
    background: rgb(154, 150, 160);
}

.theme-title {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.4rem;
}

.theme-title:hover {
    text-decoration: underline;
}

.icon {
    position: absolute;
    top: 13px;
    left: 22px;
}

.header-title {
    font-size: 3.2rem;
    color: #002F67;
    margin-bottom: 15px;
    text-align: center;
    font-variant: small-caps;
}
