<footer class="ecl-footer-harmonised ecl-footer-harmonised--group1">
    <div class="ecl-container ecl-footer-harmonised__container">
        <div class="ecl-footer-harmonised__row">
            <div class="ecl-footer-harmonised__column">
                <div class="ecl-footer-harmonised__section">
                    <!--<h2 class="ecl-footer-harmonised__title"><a [routerLink]="['/']" class="ecl-link ecl-link--standalone ecl-footer-harmonised__title-link">Kohesio</a></h2>-->
                    <a [routerLink]="['/']" class="ecl-link ecl-link--standalone ecl-footer-harmonised__logo-link" aria-label="Kohesio">
                        <img alt="Kohesio logo" title="Kohesio" class="ecl-footer-harmonised__logo-image-desktop" src="/assets/images/logos/kohesio-logo-white-small.png" height="72" />
                    </a>
                    <div class="ecl-footer-harmonised__description">This site is managed by the Directorate-General for Regional and Urban Policy</div>
                </div>
            </div>
            <div class="ecl-footer-harmonised__column">
                <div class="ecl-footer-harmonised__section">
                    <h2 class="ecl-footer-harmonised__title ecl-footer-harmonised__title--separator"> Contact us </h2>
                    <ul class="ecl-footer-harmonised__list">
                        <li class="ecl-footer-harmonised__list-item">
                            <a href="mailto:REGIO-KOHESIO@ec.europa.eu?subject=Feedback" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" 
                            aria-label="Contact&#x20;email" target="blank">Contact DG REGIO Kohesio Team</a>
                        </li>
                    </ul>
                </div>
                <div class="ecl-footer-harmonised__section">
                    <h2 class="ecl-footer-harmonised__title ecl-footer-harmonised__title--separator"> Follow us on </h2>
                    <ul class="ecl-footer-harmonised__list ecl-footer-harmonised__list--inline">
                        <li class="ecl-footer-harmonised__list-item">
                            <a href="https://www.facebook.com/EUinmyregion" target="blank" class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Facebook">
                                <svg class="ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="/assets/images/ecl/icons-social-media.2708809b.svg#facebook-negative"></use>
                                </svg>
                                <span class="ecl-link__label">Facebook</span>
                            </a>
                        </li>
                        <li class="ecl-footer-harmonised__list-item">
                            <a href="https://twitter.com/EUinmyRegion" class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Twitter">
                                <svg class="ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="/assets/images/ecl/icons-social-media.2708809b.svg#twitter-negative"></use>
                                </svg>
                                <span class="ecl-link__label">Twitter</span>
                            </a>
                            - <a href="https://twitter.com/search?q=%23Kohesio&src=typed_query&f=live" target="blank" class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Twitter">
                                <span class="ecl-link__label">#Kohesio</span>
                            </a>
                        </li>
                        <!--<li class="ecl-footer-harmonised__list-item">
                            <a href="https://www.linkedin.com/feed/hashtag/euinmyregion/" class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Linkedin">
                                <svg class="ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="/assets/images/ecl/icons-social-media.2708809b.svg#linkedin-negative"></use>
                                </svg>
                                <span class="ecl-link__label">Linkedin</span>
                            </a>
                        </li>-->
                        <li class="ecl-footer-harmonised__list-item">
                            <a href="https://www.instagram.com/euinmyregion/" target="blank" class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Instagram">
                                <svg class="ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="/assets/images/ecl/icons-social-media.2708809b.svg#instagram-negative"></use>
                                </svg>
                                <span class="ecl-link__label">Instagram</span>
                            </a>
                        </li>
                        <li class="ecl-footer-harmonised__list-item">
                            <a href="https://www.youtube.com/c/EUinmyRegion" target="blank" class="ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Youtube">
                                <svg class="ecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="/assets/images/ecl/icons-social-media.2708809b.svg#youtube-negative"></use>
                                </svg>
                                <span class="ecl-link__label">Youtube</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ecl-footer-harmonised__column">
                <div class="ecl-footer-harmonised__section">
                    <h2 class="ecl-footer-harmonised__title ecl-footer-harmonised__title--separator"> About us </h2>
                    <ul class="ecl-footer-harmonised__list">
                        <li class="ecl-footer-harmonised__list-item"><a [routerLink]="['/about']" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Information&#x20;about&#x20;Kohesio">About Kohesio</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/regional_policy/en/" target="blank" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Information&#x20;about&#x20;the&#x20;DG">About EU Regional Policy</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a [routerLink]="['/privacy']" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Privacy&#x20;statement">Privacy statement</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a [routerLink]="['/faq']" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Frequently&#x20;asked&#x20;questions">Frequently asked questions</a></li>
                    </ul>
                </div>
                <!--<div class="ecl-footer-harmonised__section">
                    <h2 class="ecl-footer-harmonised__title ecl-footer-harmonised__title--separator"> Related sites </h2>
                    <ul class="ecl-footer-harmonised__list">
                        <li class="ecl-footer-harmonised__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;1">Related link 1</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;2">Related link 2</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;3">Related link 3</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;4">Related link 4</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;5">Related link 5</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <!--<div class="ecl-footer-harmonised__row">
            <div class="ecl-footer-harmonised__column">
                <div class="ecl-footer-harmonised__section ecl-footer-harmonised__section--condensed">
                    <div class="ecl-footer-harmonised__content">More information on:</div>
                    <ul class="ecl-footer-harmonised__list">
                        <li class="ecl-footer-harmonised__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Class&#x20;name&#x20;1">Class name 1</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Class&#x20;name&#x20;2">Class name 2</a></li>
                    </ul>
                </div>
            </div>
        </div>-->
        <div class="ecl-footer-harmonised__row">
            <div class="ecl-footer-harmonised__column">
                <div class="ecl-footer-harmonised__section">
                    <a href="https://ec.europa.eu/info/index_en" class="ecl-link ecl-link--standalone ecl-footer-harmonised__logo-link" aria-label="European&#x20;Commission">
                        <img alt="European Commission logo" title="European Commission" class="ecl-footer-harmonised__logo-image-desktop" src="/assets/images/ecl/logo-ec--en.10f5072b.svg" />
                    </a>
                    <h2 class="ecl-footer-harmonised__title">
                        <a href="https://ec.europa.eu/info/index_en" class="ecl-link ecl-link--standalone ecl-footer-harmonised__title-link">European Commission</a>
                    </h2>
                </div>
            </div>
            <div class="ecl-footer-harmonised__column">
                <div class="ecl-footer-harmonised__section ecl-footer-standardised__section--split-list">
                    <ul class="ecl-footer-harmonised__list">
                        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/about-european-commission/contact_en" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Contact&#x20;the&#x20;European&#x20;Commission">Contact the European Commission</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="https://european-union.europa.eu/contact-eu/social-media-channels_en#/search?page=0&institutions=european_commission" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Follow&#x20;the&#x20;European&#x20;Commission&#x20;on&#x20;social&#x20;media">Follow the European Commission on social media</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/resources-partners_en" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link">Resources for partners</a></li>
                    </ul>
                </div>
            </div>
            <div class="ecl-footer-harmonised__column">
                <div class="ecl-footer-harmonised__section ecl-footer-standardised__section--split-list">
                    <ul class="ecl-footer-harmonised__list">
                        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/languages-our-websites_en" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Language&#x20;policy">Language policy</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/cookies_en" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Cookies">Cookies</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/privacy-policy_en" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Privacy&#x20;policy">Privacy policy</a></li>
                        <li class="ecl-footer-harmonised__list-item"><a href="https://ec.europa.eu/info/legal-notice_en" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Legal&#x20;notice">Legal notice</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>