<footer class="ecl-site-footer">
    <div class="ecl-site-footer__container ecl-container">
        <div class="ecl-site-footer__row">
            <div class="ecl-site-footer__column">
                <div class="ecl-site-footer__section ecl-site-footer__section--site-info">
                    <div class="ecl-site-footer__title"><a [routerLink]="['/']" class="ecl-link ecl-link--standalone ecl-site-footer__title-link">Kohesio</a></div>
                    <div class="ecl-site-footer__description" i18n="@@comp.footer.label.managedBy">This site is managed by the Directorate-General for Regional and Urban Policy</div>
                    <ul class="ecl-site-footer__list">
                        <li class="ecl-site-footer__list-item">
                            <a [routerLink]="['/'+translateService.routes.accessibility]" i18n="@@comp.footer.link.accessibility" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Accessibility</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ecl-site-footer__column">
                <div class="ecl-site-footer__section">
                    <h2 class="ecl-site-footer__title" i18n="@@comp.footer.label.contactUs">Contact us</h2>
                    <ul class="ecl-site-footer__list">
                        <li class="ecl-site-footer__list-item">
                            <a href="mailto:REGIO-KOHESIO@ec.europa.eu?subject=Feedback" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link"
                            aria-label="Contact the Kohesio Team" target="blank" i18n="@@comp.footer.label.contactKohesio">Contact the Kohesio Team</a>
                        </li>
                    </ul>
                </div>
                <div class="ecl-site-footer__section">
                    <h2 class="ecl-site-footer__title" i18n="@@comp.footer.label.followUs">Follow us on</h2>
                    <ul class="ecl-site-footer__list ecl-site-footer__list--inline">
                        <li class="ecl-site-footer__list-item">
                            <a href="https://www.facebook.com/EUinmyregion" target="blank" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link" aria-label="Link&#x20;to&#x20;Facebook">
                                <svg class="eecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="assets/images/ecl/icons-social-media.2708809b.svg#facebook-negative"></use>
                                </svg>
                                <span class="ecl-link__label" i18n="@@comp.footer.link.facebook">Facebook</span>
                            </a>
                        </li>
                        <li class="ecl-site-footer__list-item">
                            <a href="https://twitter.com/EUinmyRegion" target="blank" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link" aria-label="Twitter">
                                <svg class="eecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="assets/images/ecl/icons-social-media.2708809b.svg#twitter-negative"></use>
                                </svg>
                                <span class="ecl-link__label" i18n="@@comp.footer.link.twitter">Twitter</span>
                            </a>
                            - <a href="https://twitter.com/search?q=%23Kohesio&src=typed_query&f=live" target="blank" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link" aria-label="#Kohesio">
                                <span class="ecl-link__label">#Kohesio</span>
                            </a>
                        </li>
                        <!--<li class="ecl-site-footer__list-item">
                            <a href="https://www.linkedin.com/feed/hashtag/euinmyregion/" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link" aria-label="Link&#x20;to&#x20;Linkedin">
                                <svg class="eecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="assets/images/ecl/icons-social-media.2708809b.svg#linkedin-negative"></use>
                                </svg>
                                <span class="ecl-link__label">Linkedin</span>
                            </a>
                        </li>-->
                        <li class="ecl-site-footer__list-item">
                            <a href="https://www.instagram.com/euinmyregion/" target="blank" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link" aria-label="Link&#x20;to&#x20;Instagram">
                                <svg class="eecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="assets/images/ecl/icons-social-media.2708809b.svg#instagram-negative"></use>
                                </svg>
                                <span class="ecl-link__label" i18n="@@comp.footer.link.instagram">Instagram</span>
                            </a>
                        </li>
                        <li class="ecl-site-footer__list-item">
                            <a href="https://www.youtube.com/c/EUinmyRegion" target="blank" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-link--icon ecl-site-footer__link" aria-label="Link&#x20;to&#x20;Youtube">
                                <svg class="eecl-icon ecl-icon--xs ecl-link__icon" focusable="false" aria-hidden="true">
                                    <use xlink:href="assets/images/ecl/icons-social-media.2708809b.svg#youtube-negative"></use>
                                </svg>
                                <span class="ecl-link__label" i18n="@@comp.footer.link.youtube">Youtube</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ecl-site-footer__column">
                <div class="ecl-site-footer__section">
                    <div class="ecl-site-footer__title">About us</div>
                    <ul class="ecl-site-footer__list">
                        <li class="ecl-site-footer__list-item"><a [routerLink]="['/'+translateService.routes.about]" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link" aria-label="Link&#x20;to&#x20;Information&#x20;about&#x20;Kohesio" i18n="@@comp.footer.link.aboutKohesio">About Kohesio</a></li>
                        <li class="ecl-site-footer__list-item"><a [href]="'https://ec.europa.eu/regional_policy/home_'+locale" target="blank" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link" aria-label="About EU Regional Policy" i18n="@@comp.footer.link.aboutEuRegionalPolicy">About EU Regional Policy</a></li>
                        <li class="ecl-site-footer__list-item"><a [routerLink]="['/'+translateService.routes.privacy]" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link" aria-label="Link&#x20;to&#x20;Privacy&#x20;statement" i18n="@@comp.footer.link.privacy">Privacy statement</a></li>
                        <li class="ecl-site-footer__list-item"><a [routerLink]="['/'+translateService.routes.faq]" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link" aria-label="Link&#x20;to&#x20;Frequently&#x20;asked&#x20;questions" i18n="@@comp.footer.link.faq">Frequently asked questions</a></li>
                    </ul>
                </div>
                <!--<div class="ecl-site-footer__section">
                    <h2 class="ecl-footer-harmonised__title ecl-footer-harmonised__title--separator"> Related sites </h2>
                    <ul class="ecl-site-footer__list">
                        <li class="ecl-site-footer__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;1">Related link 1</a></li>
                        <li class="ecl-site-footer__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;2">Related link 2</a></li>
                        <li class="ecl-site-footer__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;3">Related link 3</a></li>
                        <li class="ecl-site-footer__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;4">Related link 4</a></li>
                        <li class="ecl-site-footer__list-item"><a href="/component-library/example" class="ecl-link ecl-link--standalone ecl-footer-harmonised__link" aria-label="Link&#x20;to&#x20;Related&#x20;link&#x20;5">Related link 5</a></li>
                    </ul>
                </div>-->
            </div>
        </div>
        <div class="ecl-site-footer__row">
            <div class="ecl-site-footer__column">
                <div class="ecl-site-footer__section"><a href="https://commission.europa.eu/index_en" class="ecl-link ecl-link--standalone ecl-site-footer__logo-link" aria-label="European Commission">
                    <picture class="ecl-picture ecl-site-footer__picture" title="European Commission">
                        <source [srcset]="'assets/images/ecl/negative/logo-ec--'+translateService.locale+'.svg'" media="(min-width: 996px)"><img class="ecl-site-footer__logo-image" [src]="'assets/images/ecl/negative/logo-ec--'+translateService.locale+'.svg'" alt="European Commission logo" style="width: 290px;height: 72px" />
                    </picture>
                </a></div>
            </div>
            <div class="ecl-site-footer__column">
                <div class="ecl-site-footer__section ecl-site-footer__section--split-list">
                    <ul class="ecl-site-footer__list">
                        <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/about-european-commission/contact_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Contact the European Commission</a></li>
                        <li class="ecl-site-footer__list-item"><a href="https://european-union.europa.eu/contact-eu/social-media-channels_en#/search?page=0&institutions=european_commission" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Follow the European Commission on social media</a></li>
                        <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/resources-partners_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Resources for partners</a></li>
                        <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/legal-notice/vulnerability-disclosure-policy_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Report an IT vulnerability</a></li>
                    </ul>
                </div>
            </div>
            <div class="ecl-site-footer__column">
                <div class="ecl-site-footer__section ecl-site-footer__section--split-list">
                    <ul class="ecl-site-footer__list">
                        <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/language-policy_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Languages on our websites</a></li>
                        <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/cookies_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Cookies</a></li>
                        <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/privacy-policy_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Privacy policy</a></li>
                        <li class="ecl-site-footer__list-item"><a href="https://commission.europa.eu/legal-notice_en" class="ecl-link ecl-link--standalone ecl-link--inverted ecl-site-footer__link">Legal notice</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
