.ecl-site-header__site-name {
  font-size: 1.75rem;
  margin-block-start: 1.5rem;
  margin-block-end: 1.5rem;
  padding: 0;
  font-weight: 400;
}

.ecl-menu__link {
  text-decoration: none;
}

.ecl-menu__link:hover {
  text-decoration: underline;
}

.ecl-site-header__search.is-open {
  display: block;
}
