<div class="prjt-themes">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <h1>About Kohesio</h1>
                <p>The <a href="https://ec.europa.eu/regional_policy/en/2021_2027/" target="_blank">EU Cohesion Policy</a> supports hundreds of thousands of projects across Europe, through funding programmes managed by national and regional authorities in collaboration with the European Commission.</p>
                <p>The Kohesio project aims at creating a knowledge base of EU co-funded projects and beneficiaries that is accessible to the public. It uses <a href="https://www.w3.org/standards/semanticweb/" target="_blank">W3C</a> open standards and open-source tools provided by <a href="https://wikimedia.de/" target="_blank">Wikimedia Deutschland</a>.</p>
                <p><b>Kohesio is still in development</b>. At the moment, Kohesio contains data on projects funded during the 2014-2020 programming period across several EU Member States. Kohesio covers three EU-funds: European Regional Development Fund (ERDF), Cohesion Fund (CF), and European Social Fund (ESF).</p>
                <p>More data from Member States will progressively enrich Kohesio.</p>

                <h2>Data source and limited warranty</h2>
                <p>EU Member States and local authorities publish lists of operations / projects and related beneficiaries as part of their information and communication obligations (<a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex:32013R1303#d1160e32-438-1" target="_blank">Regulation (EU) 1303/2013, Annex XII</a> and <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32021R1060&qid=1625497028274#d1e5598-159-1" target="_blank">Regulation (EU) 2021/1060, article 49</a>).</p>
                <p>Kohesio aggregates and standardizes data from the lists of operations. All data published in the lists of operations fall under the responsibility of the respective Managing Authorities. The European Commission cannot accept any liability for the accuracy of content in Kohesio.</p>

                <h2>Data protection</h2>
                <p>Kohesio does not collect any personal information or store cookies.</p>
                <p>The beneficiaries' names appearing on Kohesio originate from datasets published by the related Managing Authorities on their own websites. It is the responsibility of the Member States to ensure that these names are properly pseudonymised to avoid disclosing personal data, and to inform the beneficiaries of the use made of their data.</p>

                <h2>Data enrichment</h2>
                <p>English translations of project titles and descriptions are automatically provided by <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eTranslation" target="_blank">eTranslation</a>, the neural machine translation tool of the European Commission. While we strive to offer the best accuracy, some occasional translations may be suboptimal. You are encouraged to report them in order to improve the overall quality of the Kohesio knowledge base (contact: <a href="mailto:CNECT-ECDORIS@ec.europa.eu" target="_blank">CNECT-ECDORIS@ec.europa.eu</a>)</p>
                <p>Geographic coordinates (latitude and longitude) are computed from the address or postal code thanks to <a href="https://nominatim.org/" target="_blank">Nominatim</a> (geocoding).</p>
                <p>Beneficiaries are linked to their Wikidata equivalents (whenever they exist) based on a machine learning algorithm. Accuracy is above 90% but linking errors remain possible, feel free to report them as well.</p>

                <h2>Disclaimer</h2>
                <p>The information on this website does not necessary reflect the opinion of either the European Commission, any funding programme or any other authority or body of the European Union.</p>

                <h2>Contact</h2>
                <p>For any enquiry about Kohesio, please contact <a href="mailto:REGIO-KM@ec.europa.eu" target="_blank">REGIO-KM@ec.europa.eu</a>.</p>

            </div>
        </div>
    </div>
</div>
