<nav class="ecl-breadcrumb ecl-page-header__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
    data-ecl-breadcrumb="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb__container">
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable">
            <a [routerLink]="['/']"
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link" i18n="@@comp.breadcrumb.home">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link" i18n="@@page.about.breadcrumb.about">About</span>
        </li>
    </ol>
</nav>
<div class="ecl-container">
    <div class="ecl-row ecl-u-pt-xs">
        <div class="ecl-col-xl-12 ecl-u-pt-none">
            <h1 class="ecl-u-type-heading-1">About Kohesio</h1>
            <ng-container i18n="@@page.about.description">
              <p class="ecl-u-type-paragraph">Kohesio is a comprehensive knowledge database that offers easy and transparent access to up-to-date information on projects and beneficiaries co-funded by EU Cohesion policy, during the 2014-2020 programming period.</p>
              <p class="ecl-u-type-paragraph"><a href="https://ec.europa.eu/regional_policy/home_en" target="blank">EU Cohesion Policy</a> supports hundreds of thousands of projects across regions and cities in the European Union. It aims to strengthen economic, social and territorial cohesion, by correcting imbalances between countries and regions. It also delivers on the Union's political priorities, especially the green and digital transitions.</p>
              <p class="ecl-u-type-paragraph">Here you can find information on the <a href="https://ec.europa.eu/regional_policy/funding/erdf_en">European Regional Development Fund</a> (ERDF), the <a href="https://ec.europa.eu/regional_policy/funding/cohesion-fund_en">Cohesion Fund</a> (CF), and the <a href="https://ec.europa.eu/esf/">European Social Fund </a>(ESF). The database currently contains more than 1.5 million projects and approximately 500,000 beneficiaries.</p>
              <p class="ecl-u-type-paragraph">We will progressively update Kohesio with new projects and beneficiaries for the 2021-2027 programming period in close cooperation with EU Members States and programme authorities.</p>
              <p class="ecl-u-type-paragraph">Kohesio relies on semantic web <a href="https://www.w3.org/standards/semanticweb/" target="blank">W3C</a> open standards and open-source tools provided by <a href="https://wikimedia.de/" target="blank">Wikimedia Deutschland</a>. All the datasets are available both in CSV/XLSX and in RDF format (see <a [routerLink]="['/'+translateService.routes.services]">Services page</a>).</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" i18n="@@page.about.dataSourceTitle">Data source and limited warranty</h2>
            <ng-container i18n="@@page.about.dataSourceDescrition">
              <p class="ecl-u-type-paragraph">EU Member States and programme authorities publish lists of operations and related beneficiaries under their information and communication obligations (<a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex:32013R1303#d1160e32-438-1" target="blank">Regulation (EU) 1303/2013, Annex XII</a> and <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32021R1060&qid=1625497028274#d1e5598-159-1" target="blank">Regulation (EU) 2021/1060, article 49</a>).</p>
              <p class="ecl-u-type-paragraph">Kohesio aggregates and standardises data from these lists of operations. All data published in the lists fall under the responsibility of the respective <a href="https://ec.europa.eu/regional_policy/in-your-country/managing-authorities_en" target="blank">Managing Authorities</a>. The European Commission cannot accept any liability for the accuracy of content in Kohesio.</p>
              <p class="ecl-u-type-paragraph">For more information, check the <a href="https://ec.europa.eu/info/legal-notice_en" target="blank">Legal Notice</a> and the <a [routerLink]="['/'+translateService.routes.privacy]">Privacy Statement</a>.</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" i18n="@@page.about.disclaimerTitle">Disclaimer</h2>
            <ng-container i18n="@@page.about.disclaimerDescription">
                <p class="ecl-u-type-paragraph">The information on this website does not necessarily reflect the opinion of either the European Commission or EU Member States’ national or programme authority or any body of the European Union.</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" i18n="@@page.about.contactTitle">Contact</h2>
            <ng-container i18n="@@page.about.contactDescription">
                <p class="ecl-u-type-paragraph">For any question or feedback about Kohesio, please contact the <a href="mailto:REGIO-KOHESIO@ec.europa.eu" target="blank">REGIO-KOHESIO&#64;ec.europa.eu</a>.</p>
            </ng-container>
        </div>
    </div>
</div>
