<nav class="ecl-breadcrumb-harmonised ecl-page-header-harmonised__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
    data-ecl-breadcrumb-harmonised="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb-harmonised__container">
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <a [routerLink]="['/']"
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link">About</span>
        </li>
    </ol>
</nav>
<div class="ecl-container">
    <div class="ecl-row ecl-u-pt-xs">
        <div class="ecl-col-xl-12 ecl-u-pt-none">
            <h1 class="ecl-u-type-heading-1">About Kohesio</h1>
            <p class="ecl-u-type-paragraph"><a href="https://ec.europa.eu/regional_policy/en/2021_2027/" target="blank">EU Cohesion Policy</a> supports hundreds of thousands of projects across regions and cities in the European Union. It contributes to strengthening economic, social and territorial cohesion in the European Union. It aims at correcting imbalances between countries and regions. It also delivers on the Union's political priorities, especially the green and digital transitions.</p>
            <p class="ecl-u-type-paragraph">Kohesio is a comprehensive knowledge database offering easy and transparent access to up-to-date information on projects and beneficiaries co-funded by EU Cohesion policy, during the 2014-2020 programming period.</p>
            <p class="ecl-u-type-paragraph">Including the <a href="https://ec.europa.eu/regional_policy/en/funding/erdf/" target="blank">European Regional Development Fund</a> (ERDF), the <a href="https://ec.europa.eu/regional_policy/en/funding/cohesion-fund/" target="blank">Cohesion Fund</a> (CF), and the <a href="https://ec.europa.eu/esf/home.jsp?langId=en" target="blank">European Social Fund</a> (ESF), the database contains currently more than 1.5 million projects and approximately 500 000 beneficiaries.</p>
            <p class="ecl-u-type-paragraph">We will progressively enrich Kohesio with new projects and beneficiaries for the 2021-2027 programming period in close cooperation with EU Members States and programme authorities.</p>
            <p class="ecl-u-type-paragraph">Kohesio relies on semantic web <a href="https://www.w3.org/standards/semanticweb/" target="blank">W3C</a> open standards and open-source tools provided by <a href="https://wikimedia.de/" target="blank">Wikimedia Deutschland</a>. All the datasets are available both in CSV/XLSX and in RDF format (see <a routerLink="/services">Services page</a>).</p>

            <h2 class="ecl-u-type-heading-2">Data source and limited warranty</h2>
            <p class="ecl-u-type-paragraph">EU Member States and programme authorities publish lists of operations and related beneficiaries under their information and communication obligations (<a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex:32013R1303#d1160e32-438-1" target="blank">Regulation (EU) 1303/2013, Annex XII</a> and <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32021R1060&qid=1625497028274#d1e5598-159-1" target="blank">Regulation (EU) 2021/1060, article 49</a>).</p>
            <p class="ecl-u-type-paragraph">Kohesio aggregates and standardises data from these lists of operations. All data published in the lists fall under the responsibility of the respective <a href="https://ec.europa.eu/regional_policy/en/atlas/managing-authorities/" target="blank">Managing Authorities</a>. The European Commission cannot accept any liability for the accuracy of content in Kohesio.</p>
            <p class="ecl-u-type-paragraph">For more information, check the <a href="https://ec.europa.eu/info/legal-notice_en" target="blank">Legal Notice</a> and the <a routerLink="/privacy">Privacy Statement</a>.</p>

            <!--<h2 class="ecl-u-type-heading-2">Data protection</h2>
            <p class="ecl-u-type-paragraph">Kohesio does not collect any personal information or store cookies.</p>
            <p class="ecl-u-type-paragraph">The beneficiaries' names appearing on Kohesio originate from datasets published by the related Managing Authorities on their own websites. It is the responsibility of the Member States to ensure that these names are properly pseudonymised to avoid disclosing personal data, and to inform the beneficiaries of the use made of their data.</p>

            <h2 class="ecl-u-type-heading-2">Data enrichment</h2>
            <p class="ecl-u-type-paragraph">English translations of project titles and descriptions are automatically provided by <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eTranslation" target="_blank">eTranslation</a>, the neural machine translation tool of the European Commission. While we strive to offer the best accuracy, some occasional translations may be suboptimal. You are encouraged to report them in order to improve the overall quality of the Kohesio knowledge base (contact: <a href="mailto:CNECT-ECDORIS@ec.europa.eu" target="_blank">CNECT-ECDORIS@ec.europa.eu</a>)</p>
            <p class="ecl-u-type-paragraph">Geographic coordinates (latitude and longitude) are computed from the address or postal code thanks to <a href="https://nominatim.org/" target="_blank">Nominatim</a> (geocoding).</p>
            <p class="ecl-u-type-paragraph">Beneficiaries are linked to their Wikidata equivalents (whenever they exist) based on a machine learning algorithm. Accuracy is above 90% but linking errors remain possible, feel free to report them as well.</p>-->

            <h2 class="ecl-u-type-heading-2">Disclaimer</h2>
            <p class="ecl-u-type-paragraph">The information on this website does not necessarily reflect the opinion of either the European Commission, or EU Member States national or programme authority or any body of the European Union.</p>

            <h2 class="ecl-u-type-heading-2">Contact</h2>
            <p class="ecl-u-type-paragraph">For any question or feedback about Kohesio, please contact the <a href="mailto:REGIO-KOHESIO@ec.europa.eu" target="blank">Kohesio Team</a>.</p>
        </div>
    </div>
</div>
