@import 'src/assets/styles/_include-media.scss';
.ecl-content-block__secondary-meta-item{
    display:flex;
    align-items: center;
    img{
        width:24px;
    }
}
.ecl-content-item__image{
    position:relative;
    footer{
        position:absolute;
        left:0;
        color: #9c9c9c;
        font-size: 0.8rem;
        font-style: italic;
        line-height: 1;
        margin-top: 3px;
        text-align: center;
        max-width: 150px;
    }
}

@include media("<=medium") {
    .ecl-content-item__image{
        width:50%;
    }
}

a:visited {
    color: #004494;
}
