<div class="ecl-spinner--wrapper" style="display: flex; justify-content: center; padding: 1em;">
    <div class="ecl-spinner ecl-spinner--primary ecl-spinner--medium ecl-spinner--visible">
        <svg class="ecl-spinner__loader" viewBox="25 25 50 50">
        <circle class="ecl-spinner__circle" cx="50" cy="50" r="20" fill="none" stroke-width="4px" stroke-miterlimit="10"
                vector-effect="non-scaling-stroke"></circle>
    </svg>
        <div class="ecl-spinner__text" i18n="@@comp.spinner.label.loading" *ngIf="hasLabel">Loading...</div>
    </div>
</div>
