<!-- <h3 mat-dialog-title>{{data.title}}</h3> -->
<mat-dialog-content class="content">
    <h4 class="ecl-u-type-heading-4 image-title">{{data.title}}</h4>
    <div class="image-container">
        <img class="ecl-media-container__media image" [src]="data.imgUrl" />
    </div>
    <div *ngIf="data?.imageCopyright" class="image-caption">
        {{data.imageCopyright}}
    </div>
</mat-dialog-content>
<!-- <mat-dialog-content>
    <figure class="ecl-media-container">
        <img class="ecl-media-container__media image" [src]="data.imgUrl" />
        <figcaption *ngIf="data?.imageCopyright" class="ecl-media-container__caption">
            {{data.imageCopyright}}
        </figcaption>
    </figure>
</mat-dialog-content> -->