<div style="min-width:300px;">
    <kohesio-ecl-message type="error" [message]="errorMessage" *ngIf="errorMessage" (dismissMessage)="errorMessage = undefined"></kohesio-ecl-message>
    <form [formGroup]="myForm">
        <kohesio-ecl-form-group>
            <kohesio-ecl-form-label>Latest Status:</kohesio-ecl-form-label>
            <mat-form-field>
                <mat-select formControlName="latest_status" multiple>
                    <mat-select-trigger>
                        {{this.myForm.value.latest_status?.[0] || ''}}
                        <span *ngIf="(this.myForm.value.latest_status?.length || 0) > 1" class="additional-selection">
                        (+{{(this.myForm.value.latest_status?.length || 0) - 1}} {{this.myForm.value.latest_status?.length === 2 ? 'other' : 'others'}})
                    </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let status of this.statuses" [value]="status.id">{{status.value}}</mat-option>
                </mat-select>
            </mat-form-field>
        </kohesio-ecl-form-group>
    </form>
</div>
