<div class="ecl-notification" data-ecl-notification role="alert" [ngClass]="classType"
     data-ecl-auto-init="Notification"><svg class="ecl-icon ecl-icon--l ecl-notification__icon" focusable="false"
                                            aria-hidden="false" role="img">
    <title>{{title}}</title>
    <use *ngIf="type=='error'" xlink:href="assets/images/ecl/icons.a892a63d.svg#error"></use>
    <use *ngIf="type=='info'" xlink:href="assets/images/ecl/icons.a892a63d.svg#information"></use>
    <use *ngIf="type=='warning'" xlink:href="assets/images/ecl/icons.a892a63d.svg#warning"></use>
    <use *ngIf="type=='success'" xlink:href="assets/images/ecl/icons.a892a63d.svg#check-filled"></use>
</svg>
    <div class="ecl-notification__content">
        <button (click)="onClose()"
        class="ecl-button ecl-button--tertiary ecl-notification__close ecl-button--icon-only" type="button"
        data-ecl-notification-close><span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true">Close</span>
        <svg class="ecl-icon ecl-icon--m ecl-button__icon" focusable="false" aria-hidden="true" data-ecl-icon>
          <use xlink:href="assets/images/ecl/icons.a892a63d.svg#close"></use>
        </svg>
        </span>
    </button>
        <div class="ecl-notification__title">{{title}}</div>
        <div class="ecl-notification__description" [innerHTML]="message"></div>
    </div>
</div>
