<ux-layout-app-shell headerAppFullName="Kohesio Open Projects"
                     headerAppShortName="Kohesio"
                     headerAppSubtitle="Project Information Portal for Regional Policy"
                     isContract = true
                     appHomeUrl="/"
                     [hasNavBar]="breakpointsValue.isMobile"
                     [isFooterStyleInverse]="true"
                     [navBarTopMenuLinks]="topMenuLinks"
                     [hasHeader]="this.router.url != '/404'">

    <uxAppShellHeaderTitleContent>
      <div class="logo-khso">
        <h1 class="logo-khso--brand-name">Kohesio Open Projects</h1>
        <h2 class="logo-khso--brand-caption">Project Information Portal for Regional Policy</h2>
      </div>
    </uxAppShellHeaderTitleContent>

    <uxAppShellTopMessageContent *ngIf="!breakpointsValue.isMobile">
        <div class="top-header message" *ngIf="this.router.url != '/404'">
            <div>Kohesio test version: data import and enrichment in progress</div>
        </div>
        <div class="top-header" *ngIf="this.router.url != '/404'">
            <div class="right-tools">
                <ux-language-selector (languageChanged)="onLanguageChanged($event)"
                                      [selectedLanguage]="selectedLanguage">
                </ux-language-selector>
                <a href="https://intragate.development.ec.europa.eu/qs_cnect_audit_hub_vp/ecas/sense/app/5472f2e1-6b20-4f3b-88b1-c853789fd765/sheet/28630e83-bf1f-45e0-b2ad-b073e518a9b5/state/analysis" target="_blank">
                    <div class="professionalSpace">
                        <ux-a-icon  iconClass="fa fa-user" [isLarge]="true" [isRounded]="false"></ux-a-icon>
                        <ux-a-label labelStyleClass="professionalSpace-label" label="Professional space"></ux-a-label>
                    </div>
                </a>
                <div class="search-projects-input">
                    <div class="input-group">
                        <input type="text" class="form-control ux-a-toolbar-filter-filter-input search-input"
                           placeholder="Search projects, regions and territories" [(ngModel)]="filterValue"
                           (keyup.enter)="onFilter()"/>
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="ux-icon ux-icon-search" (click)="onFilter()"></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </uxAppShellTopMessageContent>

    <uxAppShellHeaderRightContent>
        <ul class="right-menu">
            <li>
                <a [routerLink]="['/projects']">PROJECTS</a>
            </li>
            <li>
                <a [routerLink]="['/beneficiaries']">BENEFICIARIES</a>
            </li>
        </ul>
    </uxAppShellHeaderRightContent>

    <uxAppShellNavBarItemsContent *ngIf="(uxAppShellService.breakpoints$ | async) && this.router.url != '/'">
        <ux-layout-nav-bar-action-item iconClass="eui-icon eui-icon-search"
                                       [isToggleContent]="false"
                                       (clicked)="searchToogleMobile = !searchToogleMobile">
        </ux-layout-nav-bar-action-item>
    </uxAppShellNavBarItemsContent>

    <uxAppShellMainContent>
        <ng-container *ngIf="(uxAppShellService.breakpoints$ | async).isMobile && (this.searchToogleMobile || this.router.url == '/')">
            <div class="search-projects-input">
                <div class="input-group">
                    <input type="text" class="form-control ux-a-toolbar-filter-filter-input search-input"
                           placeholder="Search projects, regions and territories" [(ngModel)]="filterValue"
                           (keyup.enter)="onFilter()"/>
                    <span class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="ux-icon ux-icon-search" (click)="onFilter()"></span>
                            </span>
                        </span>
                </div>
            </div>
        </ng-container>
        <ux-layout-breadcrumbs homeUrl="/" *ngIf="this.router.url != '/' && this.router.url != '/404'"></ux-layout-breadcrumbs>
        <router-outlet></router-outlet>
    </uxAppShellMainContent>

    <uxAppShellFooterContent class="footer__wrapper">
        <ul class="urls--footer">
            <span><i class="ux-icon fa fa-copyright" aria-hidden="true"></i>&nbsp;European Commission</span>
            <li>
                <a href="mailto:REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu?subject=Kohesio feedback" target="_blank">Contact</a>
            </li>
            <li>
                <a [routerLink]="['/about']">About</a>
            </li>
        </ul>

        <div class="social-icons--footer social-icons__inner">
            <span class="title">follow us on</span>
            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com/EUinmyregion/" target="_blank">
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/feed/hashtag/euinmyregion/" target="_blank">
                        <span>LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/euinmyregion/" target="_blank">
                        <span>Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/EUinmyRegion" target="_blank">
                        <span>Twitter</span>
                    </a>
                </li>
                <li>
                    <a [href]="'mailto:REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu?subject=European commission - Kohesio Open Projects&body='+ currentUrl" target="_blank">
                        <span>Mail</span>
                    </a>
                </li>
            </ul>
        </div>
    </uxAppShellFooterContent>

</ux-layout-app-shell>
