@import 'node_modules/@eui/styles/src/styles/eui-dev-only';

/*Breadcrumbs*/
:host ::ng-deep .ux-layout-breadcrumbs {
    margin-top: 1rem !important;

    @include media($eui-bkp-mobile-up) {
        margin-top: 0 !important;
    }
}

:host ::ng-deep .ux-layout-breadcrumbs__item::before {
    color: #707070 !important;
    font-size: 12px !important;

    @include media($eui-bkp-mobile-up) {
        font-size: 16px !important;
    }
}

:host ::ng-deep .ux-layout-breadcrumbs__item span {
    color: #707070 !important;
    font-size: 12px !important;

    @include media($eui-bkp-mobile-up) {
        font-size: 16px !important;
    }
}
:host ::ng-deep .ux-layout-breadcrumbs__item a>span,
:host ::ng-deep .ux-layout-breadcrumbs__item a {
    color: #004494 !important;
    font-size: 12px !important;

    @include media($eui-bkp-mobile-up) {
        font-size: 16px !important;
    }
}

// Main Title and Subtitle
@include media($eui-bkp-mobile-up) {
    .logo-khso {
        margin: 27px 0 0 10px;
    }
    :host ::ng-deep {
        .ux-language-selector .ecl-site-header__selector .ecl-site-header__selector-link {
            color: white;
            font-size: 14px;
            flex-direction: row-reverse;
        }
        .ux-language-selector .ux-icon-language-selector {
            color: white !important;
        }
        .ecl-site-header__language-code {
            color: #003D84 !important;
        }
    }
}
@include media($eui-bkp-mobile) {
    :host ::ng-deep {
        #app-header .title{
            h1, h2 {
                position: initial;
                color: white !important;
                margin-left: 5px !important;
            }
        }

    }
}

@include media($eui-bkp-mobile-down) {
    :host ::ng-deep {
        #app-header .title{
            h1 {
                font-size: 18px !important;
            }
            h2 {
                font-size: 9px !important;
            }
        }
        .ux-layout-breadcrumbs{
            display: initial;
        }

    }
}

@media (max-width: 350px) {
    :host ::ng-deep {
        .eui-icon.eui-icon-search{
            display: none;
        }
    }
}

@include media($eui-bkp-mobile-up) {
    :host ::ng-deep {
        #app-header .title{
            h1 {
                font-size: 22px !important;
            }
            h2 {
                font-size: 12px !important;
            }
        }
    }
}

.logo-khso {
    &--brand-name {
        font-size: 22px !important;
        color: #3C3C3B !important;
        font-weight: normal !important;
        margin: 0 !important;

        &__short {}
    }

    &--brand-caption {
        color: #3C3C3B !important;
        font-size: 14px !important;
        font-weight: normal !important;
        margin: 0 !important;
    }
}

// Blue navigation bar
.top-header {
    height: 50px;
    background-color: #003D84;
    padding-left: 10%;
    padding-right: 10%;
    color: white !important;

    .right-tools {
        float: right;
        display: flex;
        align-items: center;
        height: 49px;
    }
}

.top-header.message {
    background-color: #da2131;
    display: flex;
    justify-content: center;
    align-items: center;
}

// App header
#app-header {
    box-shadow: 0 1px 6px #00449429;
}

// Right menu
.right-menu {
    display: flex;
    height: 90px;
    align-items: center;

    li {
        margin: 15px;

        a {
            font-size: 16px;

            &:hover {
                color: #404040;
            }
        }
    }
}

// Make bigger icon behind lang choise
.ux-icon-language-selector.ux-u-font-size-h2 {
    font-size: 2.3rem !important;
}
.ecl-site-header__language-icon {
    margin-right: .5rem;
}

.ecl-site-header__language-code {
    color: #003D84 !important;
}


:host ::ng-deep {
    .professionalSpace {
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;

        .fa-user {
            margin-right: 3px;
        }

        .professionalSpace-label {
            color: white;
            font-size: 14px;
        }
        .ux-a-icon {
            color: white !important;
        }
    }
}

.search-projects-input {
    width: 300px;
}

.search-input {
    color: var(--eui-color-grey-darkest) !important;
}

@include media($eui-bkp-mobile) {
    .search-projects-input {
        width: 100%;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

// Logo Kohesio
#app-header .title.title { // css hack to avoid !important attribute
    float: none;
    overflow: hidden;
    display: inline-block;
}

:host ::ng-deep {
    #app-header .right-content {
        position: initial !important;
        float: right;
        margin-top: 0 !important;
    }
}

// Footer
@include media($eui-bkp-mobile) {
    :host ::ng-deep {
        #app-header .logo {
            background-image: url("^assets/images/logo-mobile.svg");
        }
        #app-footer {
            position: absolute !important;
        }
        #app-header .title h2{
            display: initial;
        }
    }
}

// Footer link & icons
.footer__wrapper {
    width: 100%;
    margin-top: 3rem;
}

.urls--footer {
    width: 45%;
    float: left;
}

.social-icons {
    &--footer {
        width: calc(55% - 2rem);
        float: right;

        li {
            margin: 0;
            padding: 0 !important;

            @include media($eui-bkp-mobile-up) {
                margin: 0 0.25rem;
            }

            &:before {
                display: none;
            }

            a:hover {
                text-decoration: none;
            }
        }

        .title {
            text-transform: uppercase;
            margin-bottom: 1rem;
            display: block;
        }

        a {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border-radius: 6%;
            text-decoration: none;
            color: white;
            text-align: center;

            $icons: (
                twitter:  (char: "\f099", color: #3b5998),
                facebook: (char: "\f09a", color: #3b5998),
                instagram: (char: "\f16d", color: #3b5998),
                youtube: (char: "\f16a", color: #3b5998),
                linkedin: (char: "\f0e1", color: #3b5998),
                mail:     (char: "\f0e0", color: #3b5998),
                // flickr: (char: "\f16e", color: #3b5998),
                // google:   (char: "\f0d5", color: #dd4b39),
                // github:   (char: "\f09b", color: #231f20),
                // dribbble: (char: "\f17d", color: #ea4c89),
                // rss:      (char: "\f09e", color: #ff6600)
            );

            @each $social, $icon in $icons {
                &[href*="#{$social}"] {
                    background-color: map-get($icon, color);

                    &:before {
                        content: map-get($icon, char);
                    }
                }
            }
        }
    }
}
