<ux-layout-app-shell headerAppFullName="Kohesio"
                     headerAppShortName="Kohesio"
                     isContract = true
                     appHomeUrl="/"
                     [isFooterStyleInverse]="true"
                     [hasNavBar]="false"
                     [hasHeader]="this.router.url != '/404'">

    <uxAppShellHeaderTitleContent>
      <div class="logo-khso">
        <h1 class="logo-khso--brand-name">Kohesio Open Projects</h1>
        <h2 class="logo-khso--brand-caption">Project Information Portal for Regional Policy</h2>
        <h1 class="short">Kohesio</h1>
      </div>
    </uxAppShellHeaderTitleContent>

    <uxAppShellTopMessageContent>
        <div class="top-header" *ngIf="this.router.url != '/404'">
            <div class="right-tools">
                <ux-language-selector (languageChanged)="onLanguageChanged($event)"
                                      [selectedLanguage]="selectedLanguage">
                </ux-language-selector>
                <div class="professionalSpace">
                    <ux-a-icon  iconClass="fa fa-user" [isLarge]="true" [isRounded]="false"></ux-a-icon>
                    <ux-a-label labelStyleClass="professionalSpace-label" label="Professional space"></ux-a-label>
                </div>
                <div class="search-projects-input">
                    <div class="input-group">
                        <input type="text" class="form-control ux-a-toolbar-filter-filter-input"
                           placeholder="Search projects, regions and territories" [(ngModel)]="filterValue"
                           (keyup.enter)="onFilter($event)"/>
                        <span class="input-group-prepend">
                            <span class="input-group-text">
                                <span class="ux-icon ux-icon-search"></span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </uxAppShellTopMessageContent>

    <uxAppShellHeaderRightContent>
        <ul class="right-menu">
            <li>
                <a [routerLink]="['/projects']">PROJECTS</a>
            </li>
            <li>
                <a [routerLink]="['/beneficiaries']">BENEFICIARIES</a>
            </li>
        </ul>
    </uxAppShellHeaderRightContent>

    <uxAppShellMainContent>
        <ux-layout-breadcrumbs homeUrl="/" *ngIf="this.router.url != '/' && this.router.url != '/404'"></ux-layout-breadcrumbs>
        <router-outlet></router-outlet>
    </uxAppShellMainContent>

    <uxAppShellFooterContent class="footer__wrapper">
        <ul class="urls--footer">
            <span><i class="ux-icon fa fa-copyright" aria-hidden="true"></i>&nbsp;European Commission</span>
            <li>
                <a href="mailto:REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu?subject=feedback">Contact</a>
            </li>
            <li>
                <a href="/cookie">Cookies</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
        </ul>

        <div class="social-icons--footer social-icons__inner">
            <span class="title">follow us on</span>
            <ul class="social-icons">
                <li>
                    <a href="https://www.flickr.com/photos/euregional/">
                        <span>Flickr</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/euinmyregion">
                        <span>Youtube</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/euinmyregion/">
                        <span>Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/EUinmyregion/">
                        <span>Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/EUinmyRegion">
                        <span>Twitter</span>
                    </a>
                </li>
            </ul>
        </div>
    </uxAppShellFooterContent>

</ux-layout-app-shell>
