<div class="ecl-select__container ecl-select__container--m" style="width:100%;">
    <!-- Placeholder -->
    <select *ngIf="isDisabled && placeholder" class="ecl-select" disabled>
        <option value="" disabled selected>{{placeholder}}</option>
    </select>
    <select *ngIf="isDisabled && !placeholder" class="ecl-select" disabled>
        <option [value]="inputValue" disabled selected>{{inputLabel}}</option>
    </select>
    <select *ngIf="!isDisabled" class="ecl-select" [(ngModel)]="inputValue" (change)="onChange($any($event.target).value)">
        <!-- Empty value -->
        <option *ngIf="hasEmptyValue" value="" [selected]="!inputValue"></option>
        <!-- Items -->
        <ng-container *ngFor="let item of this.items">
            <option *ngIf="!item.options" [value]="item.id" [selected]="item.id===inputValue">{{item.value}}</option>
            <optgroup *ngIf="item.options" [label]="item.value"></optgroup>
            <ng-container *ngFor="let innerItem of item.options">
                <option [value]="innerItem.id" [selected]="innerItem.id===inputValue">{{innerItem.value}}</option>
            </ng-container>
        </ng-container>
    </select>
    <div class="ecl-select__icon">
        <svg class="ecl-icon ecl-icon--s ecl-icon--rotate-180 ecl-select__icon-shape" focusable="false" aria-hidden="true">
            <use xlink:href="assets/images/ecl/icons.a892a63d.svg#corner-arrow"></use>
        </svg>
    </div>
</div>
