.dialog-actions{
  display: flex;
  justify-content: flex-end;
}
.ecl-card{
  margin-top: 10px;
  overflow: scroll;
}
.ecl-tag.ecl-tag--removable{
  padding: 0.5rem 0.2rem;
  width: 100%;

  margin-top: 5px;
  .ecl-tag__icon{
    margin-right:10px;
  }
  .ecl-tag__text{
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.kohesio-ecl-form-group-formType{
  display: flex;
  justify-content: center;

  kohesio-ecl-form-radio{
    margin-right: 5px;
  }
}

input.ecl-text-input {
  height: 44px;
  -webkit-appearance: none ;
  appearance: none;
  background-color: #fff;
  border: 1px solid #707070;
  border-radius: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #404040;
  display: block;
  font: normal normal 400 1rem / 1.25rem arial, sans-serif;
  margin: 0;
  margin-top: 12px;

  max-width: 100%;
  padding: calc(.75rem - 1px);
}

.chip-grid {
  flex-direction: row;
  width: 500px;

  input {
    margin-left: 10px;
    margin-top: 0;
  }
;
}
