<div class="prjt-themes">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="prjt-themes--inner">
                    <h2 class="header-title header-title--h2">exploring the projects by themes</h2>
                    <!-- <p class="description">Through the filters above you can explore the distribution of finances and expected achievements (targets) under the eleven "thematic objectives" set for the European Structural and Investment Funds for 2014-2020.</p> -->
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--blue">
                    <span class="icon">
                        <img src="assets/images/topics/TO01.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Research-&-Innovation'}" class="title" title="Research & Innovation">Research & Innovation</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--blue">
                    <span class="icon">
                        <img src="assets/images/topics/TO02.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Information-&-Communication-Technologies'}" class="title" title="Information & Communication Technologies">Information & Communication Technologies</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--blue">
                    <span class="icon">
                        <img src="assets/images/topics/TO03.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'SME-Competitiveness'}" class="title" title="SME Competitiveness">SME Competitiveness</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--green">
                    <span class="icon">
                        <img src="assets/images/topics/TO04.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Low-Carbon-Economy'}" class="title" title="Low-Carbon Economy">Low-Carbon Economy</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--green">
                    <span class="icon">
                        <img src="assets/images/topics/TO05.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Climate-Change-Adaptation-&-Risk-Prevention'}" class="title" title="Climate Change Adaptation & Risk Prevention">Climate Change Adaptation & Risk Prevention</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--green">
                    <span class="icon">
                        <img src="assets/images/topics/TO06.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Environment-Protection-&-Resource-Efficiency'}" class="title" title="Environment Protection & Resource Efficiency">Environment Protection & Resource Efficiency</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--green">
                    <span class="icon">
                        <img src="assets/images/topics/TO07.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Transport-&-Energy-Networks'}" class="title" title="Transport & Energy Networks">Transport & Energy Networks</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--yellow">
                    <span class="icon">
                        <img src="assets/images/topics/TO08.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Sustainable-&-Quality-Employment'}" class="title" title="Sustainable & Quality Employment">Sustainable & Quality Employment</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--yellow">
                    <span class="icon">
                        <img src="assets/images/topics/TO09.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Social-Inclusion-&-Combating-Poverty'}" class="title" title="Social Inclusion & Combating Poverty">Social Inclusion & Combating Poverty</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--yellow">
                    <span class="icon">
                        <img src="assets/images/topics/TO10.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Education-&-Training'}" class="title" title="Education & Training">Education & Training</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--yellow">
                    <span class="icon">
                        <img src="assets/images/topics/TO11.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Efficient-Public-Administration'}" class="title" title="Efficient Public Administration">Efficient Public Administration</a>
                </div>
            </div>
        </div>
    </div>
</div>
