<div class="prjt-themes">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="prjt-themes--inner">
                    <h2 class="header-title header-title--h2">exploring the projects by themes</h2>
                    <!-- <p class="description">Through the filters above you can explore the distribution of finances and expected achievements (targets) under the eleven "thematic objectives" set for the European Structural and Investment Funds for 2014-2020.</p> -->
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--blue">
                    <span class="icon">
                        <img src="assets/images/topics/TO01.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Research-&-Innovation', sort: 'Total-Budget-(descending)'}" class="title" title="Research & Innovation">Research & Innovation</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--blue">
                    <span class="icon">
                        <img src="assets/images/topics/TO02.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Information-&-Communication-Technology', sort: 'Total-Budget-(descending)'}" class="title" title="Information & Communication Technology">Information & Communication Technology</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--blue">
                    <span class="icon">
                        <img src="assets/images/topics/TO03.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Competitiveness-of-SMEs', sort: 'Total-Budget-(descending)'}" class="title" title="Competitiveness of SMEs">Competitiveness of SMEs</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--green">
                    <span class="icon">
                        <img src="assets/images/topics/TO04.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Low-Carbon-Economy', sort: 'Total-Budget-(descending)'}" class="title" title="Low-Carbon Economy">Low-Carbon Economy</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--green">
                    <span class="icon">
                        <img src="assets/images/topics/TO05.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Climate-Change-Adaptation-&-Risk-Prevention', sort: 'Total-Budget-(descending)'}" class="title" title="Climate Change Adaptation & Risk Prevention">Climate Change Adaptation & Risk Prevention</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--green">
                    <span class="icon">
                        <img src="assets/images/topics/TO06.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Environment-Protection-&-Resource-Efficiency'}" class="title" title="Environment Protection & Resource Efficiency">Environment Protection & Resource Efficiency</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--green">
                    <span class="icon">
                        <img src="assets/images/topics/TO07.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Network-Infrastructure-in-Transport-and-Energy', sort: 'Total-Budget-(descending)'}" class="title" title="Network Infrastructure in Transport and Energy">Network Infrastructure in Transport and Energy</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--yellow">
                    <span class="icon">
                        <img src="assets/images/topics/TO08.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Sustainable-&-Quality-Employment', sort: 'Total-Budget-(descending)'}" class="title" title="Sustainable & Quality Employment">Sustainable & Quality Employment</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--yellow">
                    <span class="icon">
                        <img src="assets/images/topics/TO09.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Social-Inclusion', sort: 'Total-Budget-(descending)'}" class="title" title="Social Inclusion">Social Inclusion</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--yellow">
                    <span class="icon">
                        <img src="assets/images/topics/TO10.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Educational-and-Vocational-training', sort: 'Total-Budget-(descending)'}" class="title" title="Educational and Vocational training">Educational and Vocational training</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--yellow">
                    <span class="icon">
                        <img src="assets/images/topics/TO11.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Efficient-Public-Administration', sort: 'Total-Budget-(descending)'}" class="title" title="Efficient Public Administration">Efficient Public Administration</a>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="prjt-box prjt-box--grey">
                    <span class="icon">
                        <img src="assets/images/topics/TO12.png" width="25px">
                    </span>
                    <a [routerLink]="['/projects']" [queryParams]="{theme: 'Technical-Assistance', sort: 'Total-Budget-(descending)'}" class="title" title="Technical Assistance">Technical Assistance</a>
                </div>
            </div>
        </div>
    </div>
</div>
