.ecsi-container-wrapper, .ecsi-container-wrapper div, .ecsi-container-wrapper span, .ecsi-container-wrapper applet, .ecsi-container-wrapper object, .ecsi-container-wrapper iframe, .ecsi-container-wrapper h1, .ecsi-container-wrapper h2, .ecsi-container-wrapper h3, .ecsi-container-wrapper h4, .ecsi-container-wrapper h5, .ecsi-container-wrapper h6, .ecsi-container-wrapper p, .ecsi-container-wrapper blockquote, .ecsi-container-wrapper pre, .ecsi-container-wrapper a, .ecsi-container-wrapper abbr, .ecsi-container-wrapper acronym, .ecsi-container-wrapper address, .ecsi-container-wrapper big, .ecsi-container-wrapper cite, .ecsi-container-wrapper code, .ecsi-container-wrapper del, .ecsi-container-wrapper dfn, .ecsi-container-wrapper em, .ecsi-container-wrapper img, .ecsi-container-wrapper ins, .ecsi-container-wrapper kbd, .ecsi-container-wrapper q, .ecsi-container-wrapper s, .ecsi-container-wrapper samp, .ecsi-container-wrapper small, .ecsi-container-wrapper strike, .ecsi-container-wrapper strong, .ecsi-container-wrapper sub, .ecsi-container-wrapper sup, .ecsi-container-wrapper tt, .ecsi-container-wrapper var, .ecsi-container-wrapper b, .ecsi-container-wrapper u, .ecsi-container-wrapper i, .ecsi-container-wrapper center, .ecsi-container-wrapper dl, .ecsi-container-wrapper dt, .ecsi-container-wrapper dd, .ecsi-container-wrapper ol, .ecsi-container-wrapper ul, .ecsi-container-wrapper li, .ecsi-container-wrapper fieldset, .ecsi-container-wrapper form, .ecsi-container-wrapper label, .ecsi-container-wrapper legend, .ecsi-container-wrapper table, .ecsi-container-wrapper caption, .ecsi-container-wrapper tbody, .ecsi-container-wrapper tfoot, .ecsi-container-wrapper thead, .ecsi-container-wrapper tr, .ecsi-container-wrapper th, .ecsi-container-wrapper td, .ecsi-container-wrapper article, .ecsi-container-wrapper aside, .ecsi-container-wrapper canvas, .ecsi-container-wrapper details, .ecsi-container-wrapper embed, .ecsi-container-wrapper figure, .ecsi-container-wrapper figcaption, .ecsi-container-wrapper footer, .ecsi-container-wrapper header, .ecsi-container-wrapper hgroup, .ecsi-container-wrapper menu, .ecsi-container-wrapper nav, .ecsi-container-wrapper output, .ecsi-container-wrapper ruby, .ecsi-container-wrapper section, .ecsi-container-wrapper summary, .ecsi-container-wrapper time, .ecsi-container-wrapper mark, .ecsi-container-wrapper audio, .ecsi-container-wrapper video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

.ecsi-container-wrapper article, .ecsi-container-wrapper aside, .ecsi-container-wrapper details, .ecsi-container-wrapper figcaption, .ecsi-container-wrapper figure, .ecsi-container-wrapper footer, .ecsi-container-wrapper header, .ecsi-container-wrapper hgroup, .ecsi-container-wrapper menu, .ecsi-container-wrapper nav, .ecsi-container-wrapper section {
  display: block;
}

.ecsi-container-wrapper {
  line-height: 1;
}

.ecsi-container-wrapper ol, .ecsi-container-wrapper ul {
  list-style: none;
}

.ecsi-container-wrapper blockquote, .ecsi-container-wrapper q {
  quotes: none;
}

.ecsi-container-wrapper blockquote::before, .ecsi-container-wrapper blockquote::after, .ecsi-container-wrapper q::before, .ecsi-container-wrapper q::after {
  content: none;
}

.ecsi-container-wrapper table {
  border-collapse: collapse;
  border-spacing: 0px;
}

.ecsi-overlay {
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 99998;
}

.ecsi-container-wrapper {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 500px;
  margin: 0px auto;
  z-index: 99999;
  inset: 0px;
  overflow: auto;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px 0px;
  opacity: 0;
}

.ecsi-container-wrapper.ecsi_visible {
  opacity: 1;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-checkbox-label {
  position: relative;
  display: inline;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-checkbox {
  display: inline;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-checkbox::before, .ecsi-container-wrapper.ecsi_visible .ecsi-body-checkbox-label::before {
  display: none;
}

.ecsi-container-wrapper.ecsi_visible .ecsi a {
  cursor: pointer;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-header {
  height: 71px;
  padding: 0px 30px;
  position: relative;
  border-bottom: 1px solid rgb(229, 229, 229);
  background-color: rgb(7, 90, 158);
  display: flex;
  justify-content: space-between;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-title {
  line-height: 71px;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-align: left;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-button-close {
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 30px;
  height: 27px;
  width: 27px;
  text-indent: -99999px;
  outline: none;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body {
  padding: 30px;
  background: white;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-main-text, .ecsi-container-wrapper.ecsi_visible .ecsi-body-checkbox {
  color: black;
  font-size: 14px;
  line-height: 1.5em;
  text-align: left;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-main-text {
  margin-bottom: 1em;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-cookie-disclaimer {
  color: rgb(101, 101, 101);
  font-size: 12px;
  line-height: 1.5em;
  text-align: left;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons {
  padding: 1em 0px;
  overflow: hidden;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons a {
  color: rgb(115, 117, 122);
  font-size: 14px;
  line-height: 1.5em;
  font-weight: bold;
  text-decoration: none;
  display: block;
  float: left;
  padding: 10px 18px;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons a.ecsi-body-button-participate-after-visit, .ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons a.ecsi-body-button-participate-now {
  background-color: rgb(0, 111, 180);
  cursor: pointer;
  color: white !important;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons a.ecsi-body-button-do-not-participate {
  background-color: rgb(226, 226, 226);
  color: rgb(41, 101, 164);
  margin-left: 18px;
  cursor: pointer;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-privacy {
  margin-top: 12px;
  text-align: right;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-privacy-link {
  font-size: 12px;
}

@media (max-width: 600px) {
  .ecsi-container-wrapper.ecsi_visible {
    width: 90%;
    min-height: 90%;
    overflow: auto;
  }

  .ecsi-container-wrapper.ecsi_visible .ecsi-header {
    height: auto;
  }

  .ecsi-container-wrapper.ecsi_visible .ecsi-button-close {
    right: 7px;
  }

  .ecsi-container-wrapper.ecsi_visible .ecsi-title {
    line-height: 21px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons a {
    float: none;
    border: none;
    margin: 0px;
  }

  .ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons a.ecsi-body-button-do-not-participate {
    margin-left: 0px;
    margin-top: 6px;
  }
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-checkbox a {
  font-size: 14px;
  line-height: 1.5em;
  text-align: left;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons #ecsi-body-button-participate-now-wrapper {
  overflow: hidden;
  float: left;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons #ecsi-body-button-participate-now-wrapper.disabled {
  cursor: not-allowed;
}

.ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons #ecsi-body-button-participate-now-wrapper.disabled a.ecsi-body-button-participate-after-visit, .ecsi-container-wrapper.ecsi_visible .ecsi-body-buttons #ecsi-body-button-participate-now-wrapper.disabled a.ecsi-body-button-participate-now {
  opacity: 0.65;
  pointer-events: none;
  color: rgb(255, 255, 255);
  background-color: rgb(221, 221, 221);
  border-color: rgb(0, 123, 255);
}
#ec-survey-pop-up-body-privacy-link-pre{
  margin-right: 5px;
}
