<div class="prjt-results beneficiary__wrapper">
    <ux-layout-page-column mainTitle="SEARCH BY" size="xxxl" [isCollapsible]="false">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <ux-form-group label="BENEFICIARY NAME" [isVertical]="true">
                <input class="form-control" type="text" formControlName="name"/>
            </ux-form-group>
            <ux-form-group label="COUNTRIES" [isVertical]="true">
                <ux-form-control formControlName="country"
                                 [isSelect]="true"
                                 [selectOptions]="filters.countries"
                                 (modelChange)="onCountryChange()">
                </ux-form-control>
            </ux-form-group>
            <ux-form-group label="REGIONS" [isVertical]="true">
                <ux-form-control formControlName="region"
                                 [isSelect]="true"
                                 [selectOptions]="filters.regions">
                </ux-form-control>
            </ux-form-group>

            <div class="download-section">
                <ux-button (click)="getFile('csv')">Download CSV</ux-button>
                <ux-button (click)="getFile('excel')">Download Excel</ux-button>
            </div>

            <ux-panel label="ADVANCED FILTERS" [isExpandable]="true" [isFlat]="true" [isExpanded]="advancedFilterExpanded">
                <ux-form-group label="FUNDS" [isVertical]="true">
                    <ux-form-control formControlName="fund"
                                     [isSelect]="true"
                                     [selectOptions]="this.filters.funds">
                    </ux-form-control>
                </ux-form-group>
                <ux-form-group label="PROGRAMME NAME" [isVertical]="true">
                    <ux-form-control formControlName="program"
                                     [isSelect]="true"
                                     [selectOptions]="this.filters.programs">
                    </ux-form-control>
                </ux-form-group>
            </ux-panel>
            <div class="search-buttons">
                <ux-button type="button" [isBlock]="true" [isSecondary]="true" (click)="resetForm()">RESET FILTERS</ux-button>
                <ux-button type="submit" [isBlock]="true">SHOW RESULTS</ux-button>
            </div>
        </form>
    </ux-layout-page-column>
    <ux-layout-page-column mainTitle="BENEFICIARIES" mainSubtitle="Ranking by EU support">
        <uxLayoutPageColumnHeaderRightContent>
            <mat-paginator [pageSize]="15"
                           [hidePageSize]="true"
                           [hidden]="isLoading">
            </mat-paginator>
        </uxLayoutPageColumnHeaderRightContent>
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>BENEFICIARY NAME</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <img class="flag" src="{{'assets/images/flags/' + row.countryCode.toLowerCase() + '.png'}}">
                    <span>{{row.label}}</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="budget">
                <mat-header-cell *matHeaderCellDef>TOTAL BUDGET</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{ row.budget | currency:'EUR':'symbol':'1.0-2':'fr'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="euBudget">
                <mat-header-cell *matHeaderCellDef>AMOUNT EU SUPPORT</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.euBudget | currency:'EUR':'symbol':'1.0-2':'fr'}}
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="numberProjects">
                <mat-header-cell *matHeaderCellDef>NUMBER OF PROJECTS</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    {{row.numberProjects}}
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </ux-layout-page-column>
</div>
