<ux-modal id="imageOverlay" [titleLabel]="beneficiary?.beneficiaryLabel" [isFooterVisible]="false" customWidth="500px">
    <uxModalBody>
        <div class="modal-body">
            <img [src]="beneficiary?.images[0]" alt="" *ngIf="beneficiary?.images && beneficiary?.images.length">
        </div>
    </uxModalBody>
</ux-modal>
<div [ngClass]="isModal ? 'project-detail-right-content is-modal' : 'project-detail-right-content'">
    <ux-button [isFlat]="true" [isSmall]="true" iconClass="fa fa-external-link" (click)="openGraph($event)">Graph</ux-button>
    <ux-button [isFlat]="true" [isSmall]="true" iconClass="fa fa-pencil" (click)="openWiki($event)">Edit</ux-button>
</div>
<eui-page class="project-detail margin-btm">
    <eui-page-content class="prjt-detalis">
        <eui-page-columns>
            <eui-page-column size="xxxl" class="column-without-title left-column">
                <eui-page-column-body>
                    <div class="prjt-box prjt-box--grey">
                        <span class="prjt-box--title">more info</span>
                        <div class="prjt-box--content">
                            <span>Start date: </span>
                            <span>
                                <ux-a-date-tag *ngIf="beneficiary?.minStartTime" [date]="beneficiary?.minStartTime" [isVerticalLayout]="false" [isAgnostic]="true"  dateFormat='D MMMM YYYY'></ux-a-date-tag>
                                <ng-container *ngIf="!beneficiary?.minStartTime">n/a</ng-container>
                            </span>
                        </div>
                        <div class="prjt-box--content">
                            <span>End date: </span>
                            <span>
                                <ux-a-date-tag *ngIf="beneficiary?.maxEndTime" [date]="beneficiary?.maxEndTime" [isVerticalLayout]="false" [isAgnostic]="true"  dateFormat='D MMMM YYYY'></ux-a-date-tag>
                                <ng-container *ngIf="!beneficiary?.maxEndTime">n/a</ng-container>
                            </span>
                        </div>
                        <div class="prjt-box--content">
                            <span>Number of projects: </span>
                            {{beneficiary?.numberProjects}}
                        </div>
                        <div class="prjt-box--content">
                            <span>Total budget: </span>
                            <span>{{beneficiary?.totalBudget | currency:'EUR':'symbol':'1.2-2':'fr'}}</span>
                        </div>
                        <div class="prjt-box--content">
                            <span>EU contribution: </span>
                            <span *ngIf="beneficiary?.totalEuBudget!=0">{{beneficiary?.totalEuBudget | currency:'EUR':'symbol':'1.2-2':'fr'}}</span>
                            <span *ngIf="beneficiary?.totalEuBudget==0">n/a</span>
                        </div>
                        <div class="prjt-box--content">
                            <span>Website: </span>
                            <a [href]="beneficiary?.website" *ngIf="beneficiary?.website" target="_blank">link</a>
                            <ng-container *ngIf="!beneficiary?.website">n/a</ng-container>
                        </div>
                        <div class="prjt-box--content">
                            <span>Country: </span>
                            <ux-popover #popover title="{{beneficiary.countryName ? beneficiary.countryName : beneficiary.countryCode}}" [showCloseIcon]="false" size="small" [hasNoContentPadding]="true">
                            </ux-popover>
                            <span><img style="width: 24px;" class="flag" src="{{'assets/images/flags/'+ beneficiary.countryCode.toLowerCase() + '.png'}}" (mouseover)="popover.show($event)" (mouseout)="popover.hide($event)"></span>
                        </div>
                    </div>
                    <div class="prjt-box prjt-box--grey" *ngIf="beneficiary?.budgetsPerFund && beneficiary?.budgetsPerFund.length">
                        <span class="prjt-box--title">funds</span>
                        <div class="prjt-box--content" *ngFor="let fund of beneficiary.budgetsPerFund">
                            <span>{{fund.fundLabel}}: </span>
                            <span *ngIf="fund?.totalEuBudget!=0">{{fund.totalEuBudget | currency:'EUR':'symbol':'1.2-2':'fr'}}</span>
                            <span *ngIf="fund?.totalEuBudget==0">n/a</span>
                        </div>
                    </div>
                </eui-page-column-body>
            </eui-page-column>

            <eui-page-column class="column-without-title main-content">
                <eui-page-column-body>
                    <div class="article--post__wrapper">
                        <article class="article--post">
                            <header>
                                <div class="article--post__image">
                                    <figure role="presentation" class="prj-image">
                                        <div class="prj-image--wrapper">
                                            <a (click)="uxService.openModal('imageOverlay')" class="prj-image&#45;&#45;link">
                                                <div class="prj-image--image">
                                                    <img [src]="beneficiary?.images[0]" alt="" *ngIf="beneficiary?.images && beneficiary?.images.length">
                                                </div>
                                            </a>
                                        </div>
                                        <!--<footer *ngIf="project?.images && project?.images.length">{{project?.images[0].imageCopyright}}</footer>-->
                                    </figure>
                                </div>
                            </header>
                            <div class="article--post__inner">
                                <h1 class="article--post__title">
                                    {{beneficiary?.beneficiaryLabel}} <span *ngIf="beneficiary?.transliteration" class="muted-text"> ({{beneficiary.transliteration}})</span>
                                </h1>
                                <div class="article--post__content">
                                    <p class="article--post__teaser">{{beneficiary?.description}}</p>
                                </div>

                                <div class="social-icons__wrapper">
                                    <span class="title">share </span>
                                    <ul class="social-icons">
                                        <li>
                                            <a [href]="'https://www.facebook.com/sharer/sharer.php?u=' + currentUrl" target="_blank">
                                                <span>Facebook</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a [href]="'https://www.linkedin.com/sharing/share-offsite/?url='+ currentUrl" target="_blank">
                                                <span>LinkedIn</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://instagram.com/" target="_blank">
                                                <span>Instagram</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a [href]="'https://twitter.com/intent/tweet?url=' + currentUrl" target="_blank">
                                                <span>Twitter</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a [href]="'mailto:REGIO-EXTERNAL-COMMUNICATION@ec.europa.eu?subject=Kohesio feedback&body=' + currentUrl" target="_blank">
                                                <span>Mail</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="map__wrapper" *ngIf="beneficiary?.coordinates">
                        <app-map mapId="map-beneficiary-details" hideNavigation="true"></app-map>
                    </div>
                    <!--Projects-->
                    <div class="prjt-box__large">
                        <div class="prjt-box prjt-box--grey">
                            <h2 class="prjt-box--title">projects</h2>
                            <div class="prjt-box--content">
                                <div class="right-table-tools">
                                    <mat-paginator [pageSize]="15"
                                                   [length]="beneficiary.numberProjects"
                                                   [hidePageSize]="true"
                                                   (page)="onPaginate($event)">
                                    </mat-paginator>
                                </div>
                                <mat-table [dataSource]="beneficiaryProjects">
                                    <ng-container matColumnDef="label">
                                        <mat-header-cell *matHeaderCellDef>PROJECT</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <span>
                                                <a [routerLink]="['/projects/' + row.id]">{{row.label}}</a>
                                            </span>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="budget">
                                        <mat-header-cell *matHeaderCellDef>TOTAL BUDGET</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{ row.budget ? (row.budget | currency:'EUR':'symbol':'1.2-2':'fr') : 'n/a'}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="euBudget">
                                        <mat-header-cell *matHeaderCellDef>EU CONTRIBUTION</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.euBudget ? (row.euBudget | currency:'EUR':'symbol':'1.2-2':'fr') : 'n/a'}}
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="fundLabel">
                                        <mat-header-cell *matHeaderCellDef>FUND</mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            {{row.fundLabel ? row.fundLabel : 'n/a'}}
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns" [hidden]="beneficiary.projects && beneficiary.projects.length === 0"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                </eui-page-column-body>
            </eui-page-column>
        </eui-page-columns>
    </eui-page-content>
</eui-page>
