mat-table {
}

mat-row {
    padding: 5px;
}
mat-header-row {
    padding-left: 10px;
}

mat-cell, mat-header-cell {
    justify-content: center;
}

mat-header-cell.mat-column-name,
mat-cell.mat-column-name {
    flex: 3;
    justify-content: start;

    img {
        width: 42px;
        margin-right: 8px;
    }
}

mat-cell.mat-column-euBudget {
    padding: 0 0 0 15px;
}
