<div class="prjt-themes">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1>Welcome to Kohesio, the “Project Information Portal for Cohesion Policy”</h1>

                <p>EU Cohesion Policy supports every year tens of thousands of projects across Europe, through funding programmes managed by national and regional authorities under the supervision of the European Commission.
                    These programmes’ authorities are subject, amongst other requirements, to a series of financial reporting and transparency obligations set out in art 115-117 and Annex XII of Regulation 1303/2013 laying down Common Provision Regulation for the European Structural and Investment Funds; more specifically, an obligation to gather and publish lists of the supported operations (i.e. projects), together with a number of practical details.</p>

                <p>This obligation is mostly fulfilled via the publication of these lists on regional and national websites, without any formal standardisation. As a consequence, that information is often scattered across different information sources.</p>

                <p>Kohesio intends to respond to this challenge. It is a knowledge-base owned by the European Commission’s Directorate-General for Regional and Urban Policy, which gathers and links all these scattered project-related data and information for the current funding period (2014-2020).
                    It offers user-friendly navigation and efficient search, throughout all projects funded by cohesion policy in 2014-2020, namely the European Regional Development Fund, the European Social Fund and the Cohesion Fund, as well as information related to the beneficiaries of those EU funds.</p>

                <p>At the moment, Kohesio is still in its pilot phase and is presenting therefore data limited to 6 pilot Member States: Czechia, Denmark, France, Ireland, Italy and Poland.</p>

                <h2>Data protection</h2>

                <p>Kohesio does not collect any personal information or store cookies. The only exception is when clicking "projects near me" on the map: your IP address is then resolved to a geolocation (latitude/longitude) that is cached in the browser and stored in a log file for 30 days, then deleted forever.</p>

                <p>The beneficiary names appearing on Kohesio originate from datasets published by the member states on their national websites. It is the reponsibility of the member states to ensure that these names are properly pseudonymised to avoid disclosing personal data, and to inform the beneficiaries about the use made of their data.</p>

                <h2>About translation</h2>

                <p>English translations of project titles and descriptions have been performed automatically with eTranslation, the neural machine translation tool of the European Commission. While we strive to offer the best accuracy, some occasional translations may be suboptimal. You are encouraged to report them in order to improve the overall quality of the Kohesio knowledge base.</p>
            </div>
        </div>
    </div>
</div>
