<div class="prjt-themes">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <h1>Welcome to Kohesio, the “Project Information Portal for Regional Policy”</h1>

                <p>The EU Cohesion Policy supports each year tens of thousands projects across Europe through funding programmes managed by national and regional authorities under the supervision of the European Commission.
                These programmes’ authorities are subject, amongst other things, to a series of financial reporting and transparency obligations set out in art 115-117 and Annex XII of Common Provision Regulation;
                more specifically the obligation of gathering and publishing their lists of operations (i.e.projects) together with some practical details.</p>

                <p>This obligation is most of the time fulfilled via the publication on regional and national websites and without any formal standardisation, with consequence that information is scattered across different information sources.</p>

                <p>Kohesio is a knowledge base owned by DG Regional and Urban Policy, gathering and linking all this scattered project related data and information for the current programming period (2014-2020).
                It offers user-friendly navigation and efficient search throughout all projects funded by the cohesion policy, as well as information related to the beneficiaries of those EU funds.</p>

                <p>At the moment, Kohesio is still in its pilot phase and is presenting therefore data limited to 6 pilot Member States: Czech Republic, Danemark, France, Ireland, Italy and Poland.</p>
            </div>
        </div>
    </div>
</div>
