@import 'src/assets/styles/_include-media.scss';

.main-theme {
    background-color: #2CBD7B;
    color: white; 
    text-align: center; 
    padding-bottom: 50px;
    padding-top: 40px;

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
    }

    a:hover {
        text-decoration: underline;
    }
}

.themes-row {
    margin-top: -30px; 
    justify-content: space-between;
}

.theme-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between!important;
    height: 100%;

}

.other-body {
    justify-content: center!important;
    text-align: center;
}



.theme-card {

    padding: 15px 10px;
}

.number {
    font-size: 12px;
}