@import 'src/assets/styles/_include-media.scss';

#my-region{
    margin-bottom:1rem;
    h2{
        margin-bottom: 1rem;
    }
}
#themes{
    h2{
        margin-top:0 !important;
        margin-bottom: 1rem;
    }
}

.main-theme {
    background-color: #004494;
    color: white; 
    text-align: center; 
    padding-bottom: 50px;
    padding-top: 40px;

    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
    }

    a:hover {
        text-decoration: underline;
    }

    button {
        position: absolute;
        right: 15px;
    }
}

@include media("<=small") {
    .main-theme {
        min-height: 215px;
    }
    button{
        right: auto;
        bottom: 40px;
    }
}

.themes-row {
    margin-top: -30px; 
    justify-content: space-between;
}

.theme-col {
    margin-bottom: 10px;
    padding: 0 1rem 0 0;
}
.theme-col:first-child{
    padding-left: 1rem;
}

@include media("<=small") {
    .theme-col{
        padding: 0 1rem;
    }
}

.theme-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between!important;
    height: 100%;

}

.other-body {
    justify-content: center!important;
    text-align: center;
}



.theme-card {
    background-color: white;
    padding: 15px 10px;
}

.number {
    font-size: 12px;
}