<nav class="ecl-breadcrumb ecl-page-header__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
    data-ecl-breadcrumb="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb__container">
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable">
            <a [routerLink]="['/']"
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link" i18n="@@comp.breadcrumb.home">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link" i18n="@@page.services.breadcrumb.services">Services</span>
        </li>
    </ol>
</nav>
<div class="ecl-container">
    <div class="ecl-row ecl-u-pt-xs">
        <div class="ecl-col-xl-12 ecl-u-pt-none">
            <h1 class="ecl-u-type-heading-1" i18n="@@page.services.title">Services</h1>
            <p class="ecl-u-type-paragraph" i18n="@@page.services.description">In addition to the Kohesio website, we offer the following services to access the data:</p>
            <ul class="ecl-unordered-list">
                <!--<li class="ecl-unordered-list__item">
                    <strong>Query service</strong><br>
                    Check the <a href="https://query.linkedopendata.eu/">SPARQL endpoint</a> to perform complex queries over Kohesio's linked open data.
                </li>
                <li class="ecl-unordered-list__item">
                    <strong>Question answering</strong><br>
                    Explore our experimental <a href="https://qa.linkedopendata.eu/">QA service</a> to ask questions directly in natural language.
                </li>-->
                <li class="ecl-unordered-list__item" i18n="@@page.services.euKnowledgeGraph">
                    <strong>EU Knowledge Graph</strong><br>
                    Visit the <a href="https://linkedopendata.eu/" target="blank">Wikibase</a> behind Kohesio and discover more about its graph structure.
                </li>
                <li class="ecl-unordered-list__item" i18n="@@page.services.dataExports">
                    <strong>Data exports</strong><br>
                    Download <a href="/data">all the data</a> country by country in CSV or XLSX format.
                </li>
            </ul>
            <p class="ecl-u-type-paragraph" i18n="@@page.services.datasetVisualisations">Datasets and visualisations on achievements of EU Cohesion Policy projects aggregated at programme, national, and fund level are also shared through the <a href="https://cohesiondata.ec.europa.eu/cohesion_overview/14-20" target="blank">Cohesion Data</a> open data platform.</p>
        </div>
    </div>
 </div>
