<nav class="ecl-breadcrumb ecl-page-header__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
    data-ecl-breadcrumb="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb__container">
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable">
            <a [routerLink]="['/']"
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link" i18n="@@comp.breadcrumb.home">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb__segment" data-ecl-breadcrumb-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb__link" i18n="@@page.projects.breadcrumb.projects">Projects</span>
        </li>
    </ol>
</nav>
<div style="display: flex">
    <button class="ecl-button ecl-button--secondary" type="button" (click)="sidenav.toggle()">
    <span class="ecl-button__container">
        <span class="ecl-button__label" data-ecl-label="true" i18n="@@page.projects.button.filters">Filters</span>
        <svg *ngIf="!sidenavOpened" class="ecl-icon ecl-icon--xs ecl-icon--rotate-90 ecl-button__icon ecl-button__icon--after" focusable="false" aria-hidden="true" data-ecl-icon="">
            <use xlink:href="assets/images/ecl/icons.a892a63d.svg#corner-arrow"></use>
        </svg>
        <svg *ngIf="sidenavOpened" class="ecl-icon ecl-icon--xs ecl-icon--rotate-270 ecl-button__icon ecl-button__icon--after" focusable="false" aria-hidden="true" data-ecl-icon="">
            <use xlink:href="assets/images/ecl/icons.a892a63d.svg#corner-arrow"></use>
        </svg>
    </span>
    </button>
    <app-filter-chips></app-filter-chips>
</div>
<ng-template cdkConnectedOverlay
             (overlayOutsideClick)="onOutsideClick()"
              [cdkConnectedOverlayOrigin]="infoPopupTrigger"
              [cdkConnectedOverlayOpen]="infoPopup">
    <div style="background-color: white;color: black;border: 0;max-width: 600px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
    z-index: 999;border-radius: 3px;padding: 10px;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <h5 class="ecl-u-type-heading-5 ecl-u-mv-none" i18n="@@page.projects.label.keywords">KEYWORDS</h5>
            <svg (click)="infoPopup = false" class="ecl-icon ecl-icon--s" focusable="true" aria-hidden="true" style="cursor: pointer;">
                <use xlink:href="assets/images/ecl/icons.a892a63d.svg#close"></use>
            </svg>
        </div>
        <hr>
        <p class="ecl-u-type-paragraph" i18n="@@page.projects.labelinfo.keywords.p1">By default, semantic search automatically expands your keywords to similar words (searching for <b>ai</b> will also include results containg <b>artificial intelligence</b> as well as <b>machine learning</b> for instance). To disable keyword expansion and revert to classic (strict) search, use double quotes (<b>"ai"</b>).</p>
        <p class="ecl-u-type-paragraph" i18n="@@page.projects.labelinfo.keywords.p2">The operator AND can be used for conjunction: <b>green AND carbon</b> only retrieves documents containing both words in any order.</p>
        <p class="ecl-u-type-paragraph" i18n="@@page.projects.labelinfo.keywords.p3">To also include documents containing either word, use <b>green OR carbon</b>.</p>
        <p class="ecl-u-type-paragraph" i18n="@@page.projects.labelinfo.keywords.p4">To exclude one term from the results, you can you the - (NOT) operator : <b>green -carbon</b> (projects containing "green" but not "carbon").</p>
        <p class="ecl-u-type-paragraph" i18n="@@page.projects.labelinfo.keywords.p5">You can also search for an exact expression using double quotes: <b>"artificial intelligence"</b> only returns results with the words in that order.</p>
        <p class="ecl-u-type-paragraph" i18n="@@page.projects.labelinfo.keywords.p6">Additionally, you can use the star operator as a wildcard: <b>govern</b>* will match government, governing, governors, etc. (minimum 3 characters before the *).</p>
    </div>
</ng-template>

<mat-drawer-container class="filters-wrapper-container" autosize>
    <mat-drawer #sidenav [mode]="mobileQuery ? 'over' : 'side'" [opened]="!mobileQuery" (openedStart)="sidenavOpened = true" (closedStart)="sidenavOpened = false" style="max-width: 350px">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>
                    <div class="label">
                        <ng-container i18n="@@page.projects.label.keywords">KEYWORDS</ng-container>
                        <div class="infoButton" (click)="toggleInfoBtn()" cdkOverlayOrigin #infoPopupTrigger="cdkOverlayOrigin" style="cursor:pointer;">
                            <svg class="ecl-icon ecl-icon--s" focusable="true" aria-hidden="true">
                                <use xlink:href="assets/images/ecl/icons.a892a63d.svg#information"></use>
                            </svg>
                        </div>
                    </div>
                    <kohesio-ecl-form-text-input formControlName="keywords"></kohesio-ecl-form-text-input>
                </kohesio-ecl-form-label>
            </kohesio-ecl-form-group>
            <div class="semantic-terms" *ngIf="semanticTerms && semanticTerms.length">
                <div class="top">
                    <div class="title" i18n="@@page.projects.label.alsoMatching">Also matching:</div>
                </div>
                <div class="terms">
                    <ng-container *ngFor="let semanticTerm of semanticTerms" >
                        <a href="#" (click)="$event.preventDefault();onClickRelatedTerm(semanticTerm)" class="ecl-tag term">{{semanticTerm}}</a>
                    </ng-container>
                </div>
                <a mat-stroked-button (click)="onRestrictSearch($event)" i18n="@@page.projects.label.useMyKeywordsOnly">Use my keywords only</a>
            </div>
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>
                    <div i18n="@@page.projects.label.country" class="label">COUNTRY</div>
                    <kohesio-ecl-form-select formControlName="country" [items]="this.filters.countries" (change)="onCountryChange()"></kohesio-ecl-form-select>
                </kohesio-ecl-form-label>
            </kohesio-ecl-form-group>
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>
                    <div i18n="@@page.projects.label.region" class="label">REGION</div>
                    <kohesio-ecl-form-select
                        formControlName="region"
                        [items]="this.filters.regions"
                        [isDisabled]="!this.myForm.value.country"
                        (change)="onRegionChange()"
                        i18n-placeholder="Select a country|@@page.projects.placeholder.region"
                        placeholder="Select a country" >
                    </kohesio-ecl-form-select>
                </kohesio-ecl-form-label>
            </kohesio-ecl-form-group>
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>
                    <div i18n="@@page.projects.label.policy" class="label">POLICY</div>
                    <kohesio-ecl-form-select formControlName="policyObjective" [items]="this.filters.policy_objectives" (change)="onPolicyObjectivesChange()"></kohesio-ecl-form-select>
                </kohesio-ecl-form-label>
            </kohesio-ecl-form-group>
            <kohesio-ecl-form-group>
                <kohesio-ecl-form-label>
                    <div i18n="@@page.projects.label.theme" class="label">THEME</div>
                    <kohesio-ecl-form-select formControlName="theme" [items]="this.themeSelection" (change)="onThemeChange()"></kohesio-ecl-form-select>
                </kohesio-ecl-form-label>
            </kohesio-ecl-form-group>
            <br/>
            <kohesio-ecl-accordion i18n-title="ADVANCED FILTERS|@@page.projects.label.advancedFilters" title="ADVANCED FILTERS" [collapsed]="!advancedFilterIsExpanded" (onChange)="onToggleAdvancedFilters($event)">
                <!-- <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>PROGRAMMING PERIOD</kohesio-ecl-form-label>
                    <kohesio-ecl-form-select formControlName="programPeriod" [items]="this.filters.programmingPeriods"></kohesio-ecl-form-select>
                </kohesio-ecl-form-group> -->
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.town" class="label">TOWN</div>
                        <kohesio-ecl-form-text-input formControlName="town"></kohesio-ecl-form-text-input>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.projectCollection" class="label">project collection</div>
                        <kohesio-ecl-form-select formControlName="projectCollection" [items]="this.filters.project_types"></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.fund" class="label">FUND</div>
                        <kohesio-ecl-form-select formControlName="fund" [items]="this.filters.funds" (change)="onFundChange()"></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.programmeType" class="label">PROGRAMME TYPE</div>
                        <kohesio-ecl-form-select formControlName="interreg" [items]="this.filters.interreg" (change)="onProgrammeTypeChange()"></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.programme" class="label">PROGRAMME</div>
                        <kohesio-ecl-form-select formControlName="program"
                             [items]="this.filters.programs"
                             [isDisabled]="!this.myForm.value.country"
                             (change)="onProgramChange()"
                             i18n-placeholder="Select a country|@@page.projects.placeholder.programme"
                             placeholder="Select a country" ></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.priorityAxis" class="label">PRIORITY AXIS</div>
                        <kohesio-ecl-form-select formControlName="priority_axis"
                             [items]="this.filters.priority_axis"
                             [isDisabled]="!this.myForm.value.country || !this.myForm.value.program"
                             i18n-placeholder="Select a country and a program|@@page.projects.placeholder.priorityAxis"
                             placeholder="Select a country and a program"
                        ></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.totalBudget" class="label">TOTAL BUDGET</div>
                        <kohesio-ecl-form-select formControlName="totalProjectBudget" [items]="this.filters.totalProjectBudget"></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.EuContribution" class="label">EU CONTRIBUTION</div>
                        <kohesio-ecl-form-select formControlName="amountEUSupport" [items]="this.filters.amountEUSupport"></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.sdg" class="label">SDG</div>
                        <kohesio-ecl-form-select formControlName="sdg" [items]="this.filters.sdg" (change)="onSDGChange()"></kohesio-ecl-form-select>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.interventionField" class="label">INTERVENTION FIELD</div>
                        <kohesio-multi-auto-complete [isDisabled]="!myForm.value.sdg" [items]="filters.categoriesOfIntervention" formControlName="interventionField"></kohesio-multi-auto-complete>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.nuts3" class="label">NUTS3</div>
                        <kohesio-auto-complete [items]="filters.nuts3 ? filters.nuts3 : []" (change)="onNuts3Change()" formControlName="nuts3"></kohesio-auto-complete>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>
                <kohesio-ecl-form-group>
                    <kohesio-ecl-form-label>
                        <div i18n="@@page.projects.label.date" class="label">DATE</div>
                        <mat-form-field appearance="fill" style="margin-top:0px;width:100%;">
                            <mat-label i18n="@@page.projects.label.enterDateRange">Enter a date range</mat-label>
                            <mat-date-range-input [rangePicker]="picker">
                                <input formControlName="projectStart" matStartDate placeholder="Start">
                                <input formControlName="projectEnd" matEndDate placeholder="End">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </kohesio-ecl-form-label>
                </kohesio-ecl-form-group>

            </kohesio-ecl-accordion>
            <br/>
            <div class="search-buttons">
                <button type="button" (click)="resetForm()" class="ecl-button ecl-button--secondary" type="button" i18n="@@page.projects.button.resetFilters">Reset Filters</button>
                <kohesio-ecl-button type="submit" i18n="@@page.projects.button.showResults">Show Results</kohesio-ecl-button>
            </div>
        </form>
    </mat-drawer>
    <mat-drawer-content [ngClass]="getClassMatDrawerContent()" [style]="isPlatformServer() ? 'margin-left:350px;' : ''">
        <mat-tab-group (selectedIndexChange)="onTabSelected($event)" [selectedIndex]="selectedTabIndex">
            <mat-tab label="Results" i18n-label="Results|@@page.projects.tab.results">
                <div class="tools">
                    <div class="left-table-tools">
                        <app-download-button *ngIf="count && count <= 1000" type="projects" [filters]="getFilters()"></app-download-button>
                    </div>
                    <div class="right-table-tools" [hidden]="(projects && projects.length === 0) || isMapTab || isAudioVisualTab">
                        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                            <kohesio-ecl-form-group>
                                <kohesio-ecl-form-select ariaLabel="sort" [hasEmptyValue]="false" formControlName="sort" [items]="this.filters.sort" (change)="onSortChange()"></kohesio-ecl-form-select>
                            </kohesio-ecl-form-group>
                        </form>
                        <mat-paginator #paginatorTop
                                       [length]="count"
                                       [pageIndex]="initialPageIndex"
                                       [pageSize]="pageSize"
                                       [hidePageSize]="true"
                                       (page)="onPaginate($event)">
                        </mat-paginator>
                    </div>
                </div>
                <div class="no-results" *ngIf="projects && projects.length === 0 && !isLoading">No results</div>
                <kohesio-ecl-spinner *ngIf="isLoading"></kohesio-ecl-spinner>
                <div class="article--post__wrapper" *ngIf="projects && projects.length !== 0">
                    <article class="article--post" *ngFor="let project of projects">
                        <header>
                            <div class="article--post__image">
                                <figure role="presentation" class="prj-image">
                                    <div class="prj-image--wrapper">
                                        <ng-container *ngIf="project.images && project.images.length">
                                            <a (click)="openImageOverlay(project.images[0], project.title, project.copyrightImages)">
                                                <img [alt]="'Image represent the project ' + project.title" class="prj-image--image" [src]="project.images[0]" *ngIf="!mobileQuery"/>
                                            </a>
                                        </ng-container>
                                        <div class="default-theme-image" *ngIf="!project.images || !project.images.length" style="background-color: white;">
                                            <img class="topic" src="{{'assets/images/topics/' + (project?.objectiveId || 'question_mark') + '.png'}}"  alt="European Commission Topic">
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </header>
                        <div class="article--post__inner">
                            <h4 class="ecl-u-type-heading-4">
                                <!-- <ux-popover #highlightedPopover [showCloseIcon]="false" size="small" [hasNoContentPadding]="false">
                                    <b>Highlighted project</b>
                                </ux-popover> -->
                                <a class="ecl-link ecl-link--standalone ecl-link--no-visited" [routerLink]="['/'+translateService.routes.projects+'/'+ project.item]">{{project.title}}</a>
                                <!-- <span *ngIf="project?.images[0]" style="color: #203F79;" (mouseover)="highlightedPopover.show($event)" (mouseout)="highlightedPopover.hide($event)"> ★</span> -->
                                <span *ngIf="project.images && project.images.length && project.images[0]" style="color: #203F79;"> ★</span>
                            </h4>
                            <footer class="article--post__footer">
                                <ul class="nowrap">
                                    <li class="article--post__theme">
                                        <span class="icon">
                                            <img *ngIf="project.objectiveId" [alt]="'Topic image of ' + project.objectiveId" class="topic" src="{{'assets/images/topics/' + project.objectiveId + '.png'}}">
                                        </span>
                                        {{filterService.getThemeLabel(project.objectiveId)}}
                                        <ng-container *ngIf="!project.objectiveId">Intervention field not available</ng-container>
                                    </li>
                                    <li class="article--post__amount">
                                        <div class="article--post__amount--inner">
                                            <span class="flag"><img [alt]="'Flag of ' + project.countryCode" class="flag" src="{{'assets/images/flags/' + (project.countryCode ? project.countryCode.toLowerCase() + '.png': '')}}"></span>
                                            <span class="amount">
                                                {{ project.totalBudget | currency:'EUR':'symbol':'1.2-2':'fr'}}
                                                <span *ngIf="!project.totalBudget">n/a</span>
                                                <span class="support">Total budget</span>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="article--post__years">
                                        <span class="icons">
                                            <!-- Clock icon here -->
                                        </span>
                                        <span class="time-start-end">
                                            <ng-container *ngIf="project.startTime || project.endTime">
                                                {{ project.startTime | date: 'MMM YYYY' }}
                                                <span *ngIf="!project.startTime">n/a</span>
                                                -
                                                {{ project.endTime | date: 'MMM YYYY' }}
                                                <span *ngIf="!project.endTime">n/a</span>
                                            </ng-container>
                                            <ng-container *ngIf="!project.startTime && !project.endTime">n/a</ng-container>
                                        </span>
                                    </li>
                                </ul>
                            </footer>
                            <div class="article--post__content">
                                <p class="article--post__teaser">{{project.description | truncateHtml}}</p>
                            </div>
                        </div>
                    </article>
                </div>
                <mat-paginator #paginatorDown
                    [length]="count"
                    [pageSize]="pageSize"
                    [pageIndex]="initialPageIndex"
                    [hidePageSize]="true"
                    (page)="onPaginate($event)"
                    [hidden]="(projects && projects.length === 0) || isMapTab">
                </mat-paginator>
            </mat-tab>
            <mat-tab label="Audiovisual" i18n-label="Audiovisual|@@page.projects.tab.audiovisual">
                <mat-paginator #paginatorAssets
                                [length]="assetsCount"
                                [pageSize]="pageSize"
                                [hidePageSize]="true"
                                (page)="onPaginateAssets($event)"
                                [hidden]="(projects && projects.length === 0) || isMapTab || isResultsTab">
                </mat-paginator>
                <div class="no-results" *ngIf="assets && assets.length === 0 && !isLoading">No audiovisual material available</div>
                <kohesio-ecl-spinner *ngIf="isLoading"></kohesio-ecl-spinner>
                <div class="audio-visual-container">
                    <ng-container *ngFor="let asset of assets">
                        <a [routerLink]="['/'+translateService.routes.projects+'/' + asset.item.replace(entityURL, '')]">
                            <div class="container">
                                <img [src]="asset.image"  alt="European Commission Image">
                                <div class="title">{{asset.title}}</div>
                            </div>
                        </a>
                    </ng-container>
                </div>
            </mat-tab>
            <mat-tab label="Map" i18n-label="Map|@@page.projects.tab.map">
                <app-map *ngIf="mapIsLoaded" [hideProjectsNearBy]="true" [heatScale]="true"></app-map>
            </mat-tab>
        </mat-tab-group>

    </mat-drawer-content>
</mat-drawer-container>

