@import 'src/assets/styles/_include-media.scss';

// Project detail page
.prjt-detalis {
  display: flex;

  .eui-page-columns {
    flex-direction: column;
    display: flex;

    .column-without-title.main-content .prjt-box__large {
      display: none;
    }

    .column-without-title:nth-child(1) {
      order: 2;
    }

    .column-without-title:nth-child(2) {
      order: 1;
    }

    @include media(">=small") {
      flex-direction: row;

      .column-without-title.left-column .prjt-box__large {
        display: none;
      }

      .column-without-title.main-content .prjt-box__large {
        display: block;
      }

      .column-without-title:nth-child(1) {
        order: 1;
      }

      .column-without-title:nth-child(2) {
        order: 2;
      }
    }
  }

  .prjt-box {
    background: #ebebeb;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 30px;

    &--title {
      color: #404040;
      font-size: 0.8rem;
      font-weight: bold;
      font-variant: small-caps;
      margin-bottom: 15px;
    }
    &--content.padding {
      padding: 3px 0px
    }
    &--content {
      color: #000;
      font-size: 1rem;
      margin-left: 25px;
      line-height: 1.4;

      span:first-child {
        font-weight: bold;
      }

      span:first-child.no-bold {
        font-weight: normal;
      }

      p {
        margin: 0;
      }

    }
  }

  // Re-write default styles of results project page
  .article--post__wrapper,
  .article--post {
    &::before {
      display: none;
    }

    &__image {
      margin: 0;

      .default-theme-image {
        width: 100px;
        height: 100px;

        @include media(">=small") {
          width: 154px;
          height: 154px;
        }
      }

      .topic {
        height: 84px;
      }

      .prj-image--image {
        width: 100px;
        height: 100px;

        background-size: cover;
        background-repeat: none;

        @include media(">=small") {
          width: 154px;
          height: 154px;
        }
      }

      .prj-image {
        footer {
          color: #9c9c9c;
          font-size: 0.8rem;
          font-style: italic;
          line-height: 1;
          margin-top: 3px;
          text-align: center;

          width: 100px;

          @include media(">=small") {
            width: 154px;
          }
        }
      }
    }
  }

  // Map
  .map__wrapper {
    margin-bottom: 30px;

    .title {
      font-size: 14px;
      font-weight: bold;
    }

    .flag {
      height: 24px;
    }
  }

  // Box large
  .prjt-box__large {
    margin-bottom: 30px;

    .prjt-box {
      &--title {
        font-size: 1.3rem;
        font-weight: bold;
        margin: 5px;
      }

      span {
        display: block;

        &:first-child {
          font-weight: normal;
        }
      }
    }
  }

  .article--post {
    // Title
    &__title {
      margin-left: 7rem;

      @include media(">=small") {
        margin-left: 0;
      }
    }
  }
}

.project-detail .article--post {
  &__inner {
    @include media(">=small") {
      margin-left: 15px;
    }
  }
}

.project-detail-right-content {
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
  margin-bottom: 30px;
  margin-right: 10px;
}

.project-detail-right-content.is-modal{
  margin-top: 0;
}
