@import 'src/assets/styles/_include-media.scss';

@include media("<small") {
  // Re-writes search btns
  :host ::ng-deep .ng-star-inserted {
    font-size: 12px !important;
  }

  :host ::ng-deep .eui-button .eui-button__container {
    font-size: 12px !important;
  }

  :host ::ng-deep .ux-a-label__label {
    font-size: 12px !important;
  }
}

mat-sidenav {
  width: 100%;
  padding: 15px;
  padding-left: 0;

  @include media(">small") {
    width: 350px;
  }
}

/**
 * Image gallery
 **/

.ecl-social-media-follow__item {
  margin-right: 0px;
}

.audio-visual-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;


  .container{
    position: relative;

    img {
      width: 100%;
      height: 100vh;
      max-height: 270px;
      object-fit: cover;
    }

    .title{
      position: absolute;
      bottom: 8px;
      left: 11px;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 6px;
      width: 90%;
      padding: 5px;
      font-size: 10px;
      color: black;
    }
  }

}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 460px;
  }

  .title{
    position: absolute;
    bottom: 27px;
    left: 11px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    width: 95%;
    padding: 5px;
    font-size: 10px;
    color: black;
  }
}

.kohesio-data-range {
  display:flex;
  justify-content: space-between;
}

.search-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .d-block {
    flex: 1;
  }

  .d-block:first-child {
    margin-right: 10px;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #DDD;
  font-size: 22px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.article--post__wrapper {
  position: relative;

  &::before {
    content: "";
    height: 92%;
    background: #707070;
    width: 1px;
    position: absolute;
    top: 80px;
    left: 1.9px;
  }
}

.article--post {

  &__inner {
    margin-left: 15px;
  }

  .prj-image--image {
    width: 87px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;

    background-size: cover;
    background-repeat: no-repeat;

    display: none;

    @include media(">=small") {
      display: block;
    }
  }

  .default-theme-image {
    width: 87px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f1f8fe;
    border-radius: 12px;

    display: none;

    @include media(">=small") {
      display: flex;
    }
  }
}

.article--post {
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;

  @include media(">=small") {
    display: flex;
  }

  &::before {
    content: "";
    height: 100%;
    background: #404040;
    width: 6px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
  }

  img {
    height: 24px;
  }

  &__image {
    float: left;
    border-radius: 10px;

    figure {
      margin: 1.15rem 0 0 1rem;
    }

    .default-theme-image {
      width: 87px;
      height: 87px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f1f8fe;
      border-radius: 12px;

      img {
        height: 36px;
      }
    }

    .prj-image--image {
      width: 87px;
      height: 87px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 12px;
    }
  }

  &__inner {

    @include media(">=small") {
      float: left;
      width: 100%;
    }

    p {
      margin: 0;
      padding: 0;
      padding-right:5px;
    }
  }

  // Title
  &__title {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 1rem;
    // margin-left: 6.2rem;

    @include media(">=small") {
      font-size: 1.2rem;
      // margin-left: 0;
    }

    a {
      color: #404040;

      &:hover {
        color: #404040;
      }
    }
  }

  // Description
  &__content {
    float: left;
    color: #000;

    p {
      font-size: 1rem !important;
      line-height: 1.4;
    }
  }

  // Footer
  &__footer {
    background: #ebebeb;
    border-radius: 12px;
    margin: 0.75rem 0;
    overflow: hidden;
    padding: 5px 15px;

    @include media("<small") {
      clear: both;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      list-style: none;
      font-size: 14px;

      @include media(">=extralarge") {
        flex-direction: row;
        align-items: center;
      }
    }
  }

  &__theme {
    display: flex;
    align-items: center;

    .icon {
      margin-right: 0.5rem;
    }

    .topic {
      display: inline-block;
      background: transparent;
      border-radius: 0;
      margin-right: 3px;
    }
  }

  &__amount {
    &--inner {}

    .flag {
      float: left;
      width: 26px;
      height: 30px;
      margin-right: 3px;
    }

    .amount {
      color: #000;
      margin-top: 5px;
      margin-left: 5px;
      font-weight: 600;
      line-height: .8rem;
      float: left;

      .euro {
        color: #404040;
        font-weight: normal;
      }

      .support {
        color: #9c9c9c;
        display: block;
        margin-top: 3px;
      }
    }

  }

  &__years {
    .icons {
      float: left;
      margin-right: 3px;
    }

    // .time-start-end {
    //   font-size: 13px;
    // }
  }
}

.tools {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.right-table-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;

  @include media("<=small") {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 15px;
  }

  mat-paginator {
    width: 100%;

    @include media('>small') {
      width: 50%;
    }

    ::ng-deep {
      .mat-paginator-container {
        padding: 0;

        .mat-paginator-range-actions {
          width: 100%;
          justify-content: flex-end;

          .mat-paginator-range-label {
            padding-left: 5px;
            margin: 0;
            margin-right: auto;

            @include media('>small') {
              margin-left: auto;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

:host ::ng-deep {
  .ux-tab-content {
    padding: 0;
  }
}

// Tabs on mobile
@include media("<small") {
  :host ::ng-deep {
    .ux-tab-item {
      padding: 10px;

      .ux-a-label__sub-label, .ux-a-label__label {
        font-size: 16px;
      }
    }
  }
}

@include media("<small") {
  .project-detail-right-content {
    margin-top: -30px;
  }
}

:host ::ng-deep .top span.eui-button__container{
  font-size: 0.8rem !important;
}
:host ::ng-deep .top button.eui-button{
  padding: 2px !important;
}

.semantic-terms{
  margin-bottom: 10px;
  border-radius: 12px;
  background-color: #f1f8fe;
  padding: 5px 7px;

  .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    .title{
      font-size: 0.8rem;
      margin-left: 5px;
      flex: 1;
    }
  }

  .terms {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    margin: 5px 0;

    .term{
      padding: 5px;
      background-color: #b3c7df;
      margin: 3px;
      font-weight: bold;
      border-radius: 10px;
      text-decoration: none;

      &:hover {
        background-color: #5299f0;
      }
    }
  }

  .bottom{
    display: flex;
  }
}


.filters-wrapper-container {
  width: 100%;
}
