a:visited {
    color: #004494;
}

.project-theme-image, .project-theme-image-mobile {
  .project-image-container {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.kohesio-project-detail-video{
  iframe{
    border:none;
    width:100%;
    height: 300px;
  }
}

:host ::ng-deep {
  iframe{
    border:none;
    width:100%;
    height: 400px;
  }
}

.programme-wrapper{
  margin-bottom: 10px;
  border-bottom: 1px dashed gray;
  padding-bottom: 5px;
}

.programme-wrapper:last-child{
  border-bottom: none;
  margin-bottom: 0;
}
