<ux-carousel-items>
    <ux-carousel-item>
        <img width="100%" src="assets/images/banners/banner1.png">
        <p class="carousel-title"><span>european union supports projects in all regions to make europe stronger</span></p>
        <div class="carousel-btn">
            <ux-button typeClass="accent" styleClass="carousel-btn--primary" [routerLink]="['/about']">Learn more</ux-button>
        </div>
    </ux-carousel-item>
    <ux-carousel-item>
        <img width="100%" src="assets/images/banners/banner2.png">
        <a class="carousel-title" href="https://ec.europa.eu/regional_policy/en/projects/europe/france-green-technology-to-replace-mobile-electricity-generators">
            <span>Mobile, non-polluting and silencing generator, based on renewable energy and hydrogen storage</span>
            <div class="icons">
                <div class="icons--inner">
                    <i class="icon fa fa-eur"></i>353,751.0
                </div>
                <div class="icons--inner">
                    <i class="icon fa fa-map-marker"></i>France
                </div>
                <div class="icons--inner">
                    <i class="icon fa fa-clock-o"></i>2014 - 2020
                </div>
            </div>
        </a>
    </ux-carousel-item>
    <ux-carousel-item>
        <img width="100%" src="assets/images/banners/banner3.png">
        <a class="carousel-title" href="https://ec.europa.eu/regional_policy/en/projects/europe/at-the-cea-in-monts-in-centre-val-de-loire-hydrogen-is-being-considered-as-an-alternative-energy-source">
            <span>Lavoisier Phase 2</span>
            <div class="icons">
                <div class="icons--inner">
                    <i class="icon fa fa-eur"></i>2,375,038.17
                </div>
                <div class="icons--inner">
                    <i class="icon fa fa-map-marker"></i>France
                </div>
                <div class="icons--inner">
                    <i class="icon fa fa-clock-o"></i>2014 - 2020
                </div>
            </div>
        </a>
    </ux-carousel-item>
</ux-carousel-items>

<div class="section-container margins-top-0">
    <section id="figures">
        <h2>KEY FIGURES</h2>
        <ul class="figures-list">
            <li>
                <div class="title">Number of projects:</div>
                <div class="number">702.159</div>
            </li>
            <li>
                <div class="title">Number of beneficiaries:</div>
                <div class="number">122.489</div>
            </li>
            <li>
                <div class="title">Total EU Amount:</div>
                <div class="number">€ 112.451.089.689</div>
            </li>
        </ul>
    </section>
    <section id="my-region">
        <h2>IN MY REGION</h2>
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </section>
</div>

<section id="themes">
    <h2>THEMES</h2>
    <div class="theme-division">
        <div class="theme-container">
            <div class="themes-main-category">
                <a [routerLink]="['/projects']" [queryParams]="{policyObjective: 'Green-and-carbon-free-europe'}" class="tooltip-top themes-title" data-tooltip="This new priority for the European Commission for the 2021-2027 EU funding round covers projects from 3 green related Thematic objectives of the 2014-2020 EU funding round. It is to be noted that some other green projects not covered here can also be found under other Thematic objectives, which are also green but not exclusively.">
                    Greener and carbon free Europe
                </a>
                <div class="number">31.226 projects</div>
            </div>

            <div class="theme-categories">
                <div class="theme-category-card">
                    <div class="title"><a [routerLink]="['/projects']" [queryParams]="{theme: 'Low-Carbon-Economy'}">Low Carbon Economy</a></div>
                    <div class="number">17.302 projects</div>
                    <hr class="vertical-line">
                </div>
                <div class="theme-category-card">
                    <div class="title"><a [routerLink]="['/projects']" [queryParams]="{theme: 'Climate-Change-Adaptation-&-Risk-Prevention'}">Climate Change Adaptation & Risk Prevention</a></div>
                    <div class="number">2.514 projects</div>
                    <hr class="vertical-line">
                </div>
                <div class="theme-category-card">
                    <div class="title"><a [routerLink]="['/projects']" [queryParams]="{theme: 'Environment-Protection-&-Resource-Efficiency'}">Environment Protection & ResourceEfficiency</a></div>
                    <div class="number">11.410 projects</div>
                    <hr class="vertical-line">
                </div>
            </div>
        </div>
        <div class="explore-more">
            <a [routerLink]="['/themes']">Explore more ...</a>
        </div>
    </div>
</section>
