<ux-carousel-items>
    <ux-carousel-item>
        <img style="width:100%;" src="assets/images/banners/banner1.png">
    </ux-carousel-item>
    <ux-carousel-item>
        <img style="width:100%;" src="assets/images/banners/banner2.png">
    </ux-carousel-item>
    <ux-carousel-item>
        <img style="width:100%;" src="assets/images/banners/banner3.png">
    </ux-carousel-item>
</ux-carousel-items>
<div class="section-container">
    <section id="figures">
        <h2>KEY FIGURES</h2>
        <ul class="figures-list">
            <li>
                <div class="title">Number of projects:</div>
                <div class="number">1,500,000</div>
            </li>
            <li>
                <div class="title">Number of beneficiaries:</div>
                <div class="number">50,000</div>
            </li>
            <li>
                <div class="title">Total EU Amount:</div>
                <div class="number">€ 992,772,382</div>
            </li>
            <li>
                <div class="title">Thematic:</div>
                <div class="number">€ 772,382</div>
            </li>
        </ul>
    </section>
    <section id="my-region">
        <h2>IN MY REGION</h2>
        <div class="map-container">
            <div class="map-frame">
                <div id="map"></div>
            </div>
        </div>
    </section>
</div>

    <h2>THEMES</h2>
<section id="themes">

    <div class="theme-division">
        <div class="theme-container">
            <div class="themes-main-category">
                <div class="name">Greener and carbon free Europe</div>
            </div>
            <div class="theme-categories">
                <div class="theme-category-card">
                    <div class="title">Low carbon economy</div>
                    <div class="number">1.456 projects</div>
                </div>
                <div class="theme-category-card">
                    <div class="title">Climate change adaptation and risk management</div>
                    <div class="number">1.456 projects</div>
                </div>
                <div class="theme-category-card">
                    <div class="title">Environment and resource efficiency</div>
                    <div class="number">
                        1.456 projects
                    </div>
                </div>
            </div>
        </div>
        <div class="explore-more">
            <a [routerLink]="['/themes']">Explore more ...</a>
        </div>
    </div>
</section>
