<div class="ux-block-content" [class.ux-is-active]="isLoading">
    <div class="map-container">
        <div class="map-navigation" *ngIf="!hideNavigation">
            <ux-panel [isContainerOnly]="true" [isCollapsible]="true">
                <div class="map-regions-wrapper">
                    <ux-button *ngFor="let region of mapRegions" (click)="loadMapRegion(filters, region.region)"
                               [iconClass]="!(uxAppShellService.breakpoints$ | async).isMobile ? 'fa fa-globe' : ''" typeClass="warning" [isSmall]="true">{{region.label}}</ux-button>
                </div>
            </ux-panel>
            <div class="right" *ngIf="!hideProjectsNearBy">
                <button euiButton euiPrimary (click)="onProjectsNearByClick()">
                    <span class="eui-icon eui-icon-map-marker"></span>
                    <span *ngIf="!(uxAppShellService.breakpoints$ | async).isMobile" euiLabel>PROJECTS NEAR ME</span>
                </button>&nbsp;
            </div>
        </div>
        <div class="map-frame">
            <div [id]="mapId"></div>
        </div>
    </div>
</div>
