@import 'node_modules/@eui/styles/src/styles/eui-dev-only';

#map, #map-details, #map-beneficiary-details {
    height: 480px;
    z-index: 0;

    @include media($eui-bkp-mobile-up) {
        height: 680px;
    }
}

#map-inside {
    height: 600px;
}

.map-container {
    position: relative;
    .left {
        position: absolute;
        top: 10px;
        left: 50px;
        z-index: 1;
    }
    .right{
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 1;
    }
}
.map-regions-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;

    ux-button{
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

.regionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .regionName {
        font-weight: bold;
        font-size: 12px;
    }

    .regionCount {
        font-size: 11px;
    }
}

:host ::ng-deep {
    .leaflet-popup-content {
        overflow: auto;
        max-height: 300px;
        max-width: 200px;

        @include media($eui-bkp-mobile-up) {
            width: auto !important;
            min-width: 300px;
            max-width: 300px;
        }
    }
}
