<nav class="ecl-breadcrumb-harmonised ecl-page-header-harmonised__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
    data-ecl-breadcrumb-harmonised="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb-harmonised__container">
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <a [routerLink]="['/']"
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link">Privacy Statement</span>
        </li>
    </ol>
</nav>
<div class="ecl-container">

    <div class="ecl-row ecl-u-pt-xs">
        <div class="ecl-col-xl-12 ecl-u-pt-none">
            <h1 class="ecl-u-type-heading-1">Protection of your personal data</h1>
            <p class="ecl-u-type-paragraph"><strong>Processing operation</strong>: Processing of personal data on
                European Commission web sites (within the europa.eu domain), including IP addresses, by visitors of the
                publicly available websites.</p>
            <p class="ecl-u-type-paragraph"><strong>Data Controller</strong>: European Commission</p>
            <p class="ecl-u-type-paragraph"><strong>Record reference</strong>: DPR-EC-00083</p>

            <h2 class="ecl-u-type-heading-2">Introduction</h2>
            <p class="ecl-u-type-paragraph">The European Commission (hereafter 'the Commission') is committed to protect
                your personal data and to respect your privacy. The Commission collects and further processes personal
                data pursuant to <a
                    href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=uriserv:OJ.L_.2018.295.01.0039.01.ENG&toc=OJ:L:2018:295:TOC">Regulation
                    (EU) 2018/1725</a> of the European Parliament and of the Council of 23 October 2018 on the
                protection of natural persons with regard to the processing of personal data by the Union institutions,
                bodies, offices and agencies and on the free movement of such data (repealing Regulation (EC) No
                45/2001).</p>
            <p class="ecl-u-type-paragraph">This privacy statement explains the reason for the processing of your
                personal data, the way we collect, handle and ensure protection of all personal data provided, how that
                information is used and what rights you have in relation to your personal data. It also specifies the
                contact details of the responsible Data Controller with whom you may exercise your rights, the Data
                Protection Officer and the European Data Protection Supervisor.</p>
            <p class="ecl-u-type-paragraph">The information in relation to processing operation <i>"Data processing on
                    European Commission web sites (within the europa.eu domain)"</i> undertaken by the European
                Commission is presented below. </p>

            <h2 class="ecl-u-type-heading-2">Why and how do we process your personal data?</h2>
            <p class="ecl-u-type-paragraph"><u>Purpose of the processing operation</u>: The European Commission's
                Directorates-General, including the Directorate-General for Communication, offer a large number of
                websites located on infrastructure maintained by the Directorate-General for Informatics. The technical
                setup collects and uses your personal information to be able to provide the European Commission websites
                within the europa.eu domain, and which are physically located on the Commission controlled hosting
                infrastructure.</p>
            <p class="ecl-u-type-paragraph">When you access a European Commission website, the European Commission
                receives as an essential technical requirement the Internet Protocol address (IP address) or the device
                ID of the device used to access the website.</p>
            <p class="ecl-u-type-paragraph">Your personal data will not be used for an automated decision-making
                including profiling.</p>
        </div>
    </div>
</div>