/* You can add global styles to this file, and also import other style files */
.projects-grid a{
    color:initial;
    text-decoration: none;
}
.projects-grid{
    display: grid;
    grid-template-columns: 1fr;
    @media only screen and (max-width: 600px) {
    }
    @media only screen and (min-width: 600px) {
    }
    @media only screen and (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: 1200px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media only screen and (min-width: 1800px) {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    grid-gap:15px
}
.projects-grid .card{
    border: 2px solid #AAAAAA;
    border-radius: 20px;
    min-height: 470px;
}
.projects-grid .card .header{
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: #AAAAAA;
    border-radius: 16px 16px 0 0;
    height: 100px;
}
.projects-grid .card .header h1{
    font-size: 18px;
    font-weight: bold;
    word-break: break-word;
}
.projects-grid .card.TO01 .header,
.projects-grid .card.TO02 .header,
.projects-grid .card.TO03 .header,
.projects-grid .card.TO04 .header{
    background-color: #ff9900;
}
.projects-grid .card.TO05 .header,
.projects-grid .card.TO06 .header,
.projects-grid .card.TO07 .header{
    background-color: #76b043;
}
.projects-grid .card.TO08 .header,
.projects-grid .card.TO09 .header,
.projects-grid .card.TO10 .header,
.projects-grid .card.TO11 .header{
    background-color: #009fe3;
}
.projects-grid .card.TO01,
.projects-grid .card.TO02,
.projects-grid .card.TO03,
.projects-grid .card.TO04{
    border: 2px solid #ff9900;
}
.projects-grid .card.TO05,
.projects-grid .card.TO06,
.projects-grid .card.TO07{
    border: 2px solid #76b043;
}
.projects-grid .card.TO08,
.projects-grid .card.TO09,
.projects-grid .card.TO10,
.projects-grid .card.TO11{
    border: 2px solid #009fe3;
}
.projects-grid .card .header .images{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
}
.projects-grid .card .header .images .flag{
    width: 24px;
    margin-top: -14px;
}
.projects-grid .card .info-bar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #0065a2;
    color: white;
    min-height: 38px;
}
.projects-grid .card .info-bar img{
    width:24px;
}
.projects-grid .card p{
    margin: 0;
    padding: 10px;
    line-height: 1.4;
    word-break: break-word;
}
.project-link:hover > .card{
    box-shadow: 5px 5px 15px 0px rgba(156,156,156,0.78);
}

.topic-icon{
    border: 1px solid rgba(255,255,255,0.35);
    height: 1.6rem;
    width: 1.6rem;
    background-size: cover;
    margin-right: .5rem;
    outline: none;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    line-height: 1em;
    border-radius: 50%;
}

.mat-option-text .topic-icon{
    top:7px;
}

.topic-icon.TO01{
    background-image: url("assets/images/topics/TO01_80.png");
}
.topic-icon.TO02{
    background-image: url("assets/images/topics/TO02_80.png");
}
.topic-icon.TO03{
    background-image: url("assets/images/topics/TO03_80.png");
}
.topic-icon.TO04{
    background-image: url("assets/images/topics/TO04_80.png");
}
.topic-icon.TO05{
    background-image: url("assets/images/topics/TO05_80.png");
}
.topic-icon.TO06{
    background-image: url("assets/images/topics/TO06_80.png");
}
.topic-icon.TO07{
    background-image: url("assets/images/topics/TO07_80.png");
}
.topic-icon.TO08{
    background-image: url("assets/images/topics/TO08_80.png");
}
.topic-icon.TO09{
    background-image: url("assets/images/topics/TO09_80.png");
}
.topic-icon.TO10{
    background-image: url("assets/images/topics/TO10_80.png");
}
.topic-icon.TO11{
    background-image: url("assets/images/topics/TO11_80.png");
}

#map {
    height: 600px;
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
    -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
    transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
    /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
    -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
    -moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
    -o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
    transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);
}
.marker-cluster-small div {
    background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);
}
.marker-cluster-medium div {
    background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);
}
.marker-cluster-large div {
    background-color: rgba(241, 128, 23, 0.6);
}

/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
    background-color: rgb(181, 226, 140);
}
.leaflet-oldie .marker-cluster-small div {
    background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
    background-color: rgb(241, 211, 87);
}
.leaflet-oldie .marker-cluster-medium div {
    background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
    background-color: rgb(253, 156, 115);
}
.leaflet-oldie .marker-cluster-large div {
    background-color: rgb(241, 128, 23);
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}

.mycluster {
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.9 !important;
}

.mycluster div{
    color:#000;
    font-weight: bold;
    font-size: 16px;
}

.mycluster.size1{
    background-color: #2196F3;
    box-shadow: 0px 0px 0px 4px rgba(33,150,243,0.3);
    padding: 10px;
}
.mycluster.size2{
    background-color: #FBC02D;
    box-shadow: 0px 0px 0px 4px rgba(251,192,45,0.3);
    padding: 15px;
}
.mycluster.size3{
    background-color: #F44336;
    box-shadow: 0px 0px 0px 4px rgba(244,67,54,0.3);
    padding: 20px;
}
.mycluster.size4{
    background-color: #E91E63;
    box-shadow: 0px 0px 0px 4px rgba(233,30,99,0.3);
    padding: 30px;
}
.mycluster.size5{
    background-color: #9C27B0;
    box-shadow: 0px 0px 0px 4px rgba(156,39,176,0.3);
    padding: 40px;
}

.map-frame, .map-container{
    width:100%;
    height: 100%;
}
#map-inside{
    height: 600px;
}

.without-obcjetive-id{
    width: 80px;
    height: 80px;
}
