/* You can add global styles to this file, and also import other style files */
@import 'src/assets/styles/_include-media.scss';
@import 'src/assets/styles/page-detail.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* You can add global styles to this file, and also import other style files */

/*Angular Material Styles*/
mat-drawer, mat-sidenav {
    width: 350px;
    padding: 15px;
    padding-left: 0;
}
.mat-paginator{
    background: transparent;
}
.mat-drawer-side{
  border-right: 0;
}
mat-tab-body{
  background-color: white;
}
.mat-drawer-container{
  background-color: white;
}
.ecl-page-header-harmonised__breadcrumb{
  margin-bottom:0 !important;
}
.muted-text {
  color: gray;
}