<ux-modal id="imageOverlay" [titleLabel]="project?.label" [isFooterVisible]="false" customWidth="500px">
    <uxModalBody>
        <div class="modal-body">
            <img [src]="project?.images[0].image" alt="" *ngIf="project?.images && project?.images.length">
            <div class="title" *ngIf="project?.images && project?.images.length">{{project?.images[0].imageCopyright}}</div>
        </div>
    </uxModalBody>
</ux-modal>
<ux-message-box titleLabel="INFORMATION" acceptLabel="PROCEED" dismissLabel="CANCEL" typeClass="info" (clicked)="openWikidataLink($event)">
    <p>Please note that you are now leaving the Kohesio website from the European Commission. The EC cannot be held responsible for any information published on Wikidata</p>
</ux-message-box>

<div [ngClass]="isModal ? 'project-detail-right-content is-modal' : 'project-detail-right-content'">
    <ux-button *ngIf="isModal" [isFlat]="true" [isSmall]="true" iconClass="fa fa-external-link" (click)="openNewTab($event)">Open new tab</ux-button>
    &nbsp;
    <ux-button [isFlat]="true" [isSmall]="true" iconClass="fa fa-external-link" (click)="openGraph($event)">Graph</ux-button>
    <ux-button [isFlat]="true" [isSmall]="true" iconClass="fa fa-pencil" (click)="openWiki($event)">Edit</ux-button>
</div>
<eui-page class="project-detail margin-btm">
    <eui-page-content class="prjt-detalis">
        <eui-page-columns>
            <eui-page-column size="xxxl" class="column-without-title left-column">
                <eui-page-column-body>
                    <!-- Box 1 -->
                    <div class="prjt-box prjt-box--grey">
                        <span class="prjt-box--title">project info</span>
                        <div class="prjt-box--content">
                            <span>Start date: </span>
                            <span>
                        <ux-a-date-tag *ngIf="project?.startTime" [date]="project?.startTime" [isVerticalLayout]="false" [isAgnostic]="true"  dateFormat='D MMMM YYYY'></ux-a-date-tag>
                        <ng-container *ngIf="!project?.startTime">n/a</ng-container>
                    </span>
                        </div>

                        <div class="prjt-box--content">
                            <span>End date: </span>
                            <span>
                        <ux-a-date-tag *ngIf="project?.endTime" [date]="project?.endTime" [isVerticalLayout]="false" [isAgnostic]="true"  dateFormat='D MMMM YYYY'></ux-a-date-tag>
                        <ng-container *ngIf="!project?.endTime">n/a</ng-container>
                    </span>
                        </div>

                        <div class="prjt-box--content">
                            <span>Managing authority name: </span>
                            {{project?.managingAuthorityLabel}}
                            <ng-container *ngIf="!project?.projectWebsite">n/a</ng-container>
                        </div>

                        <div class="prjt-box--content" *ngIf="project?.projectWebsite">
                            <span>Project website: </span>
                            <a [href]="project?.projectWebsite" *ngIf="project?.projectWebsite" target="_blank">link</a>
                            <ng-container *ngIf="!project?.projectWebsite">n/a</ng-container>
                        </div>
                        <div class="prjt-box--content" *ngIf="project?.programWebsite">
                            <span>Programme website: </span>
                            <a [href]="project?.programWebsite" *ngIf="project?.programWebsite" target="_blank">link</a>
                            <ng-container *ngIf="!project?.programWebsite">n/a</ng-container>
                        </div>
                    </div>

                    <!-- Box 2 -->
                    <div class="prjt-box prjt-box--grey">
                        <span class="prjt-box--title">funding</span>
                        <div class="prjt-box--content">
                            <span>Fund: </span>
                            <span>{{project?.fundLabel}}</span>
                            <span *ngIf="!project?.fundLabel">n/a</span>
                        </div>

                        <div class="prjt-box--content">
                            <span>Programming period: </span>
                            <span>{{project?.programmingPeriodLabel}}</span>
                        </div>

                        <div class="prjt-box--content">
                            <span>Programme: </span>
                            <span>{{project?.programLabel}}</span>
                            <span *ngIf="!project?.programLabel">n/a</span>
                        </div>

                        <div class="prjt-box--content">
                            <span>Total budget: </span>
                            <span>{{project?.budget | currency:'EUR':'symbol':'1.2-2':'fr'}}</span>
                            <span *ngIf="!project?.budget">n/a</span>
                        </div>

                        <div class="prjt-box--content">
                            <span>Funded by EU: </span>
                            <span *ngIf="!project?.euBudget">n/a</span>
                            <span *ngIf="project?.euBudget">
                                {{project?.euBudget | currency:'EUR':'symbol':'1.2-2':'fr'}} 
                                <ng-container *ngIf="project?.cofinancingRate">
                                    ({{project?.cofinancingRate | number:'1.0-3':'fr'}}%)
                                </ng-container>
                            </span>
                        </div>
                    </div>

                    <!-- Box 3 -->
                    <div class="prjt-box prjt-box--grey">
                        <span class="prjt-box--title" *ngIf="project?.objectiveLabels.length <= 1">theme</span>
                        <span class="prjt-box--title" *ngIf="project?.objectiveLabels.length > 1">themes</span>
                        <div class="prjt-box--content  padding" *ngFor="let item of project?.objectiveLabels">
                            <span class="no-bold">{{item}}</span>
                        </div>
                        <div class="prjt-box--content" *ngIf="project?.objectiveLabels.length == 0">
                            <span class="no-bold" >n/a</span>
                        </div>
                    </div>

                    <!-- Box 4 -->
                    <div class="prjt-box prjt-box--grey">
                        <span class="prjt-box--title" *ngIf="project?.categoryLabels.length <= 1">intervention field</span>
                        <span class="prjt-box--title" *ngIf="project?.categoryLabels.length > 1">intervention fields</span>
                        <div class="prjt-box--content padding" *ngFor="let item of project?.categoryLabels">
                            <span class="no-bold">{{item}}</span>
                        </div>
                        <div class="prjt-box--content" *ngIf="project?.categoryLabels.length == 0">
                            <span class="no-bold" >n/a</span>
                        </div>
                    </div>

                    <!-- Box 5 -->
                    <div class="prjt-box prjt-box--grey" >
                        <span class="prjt-box--title" *ngIf="project?.beneficiaries.length <= 1">beneficiary</span>
                        <span class="prjt-box--title" *ngIf="project?.beneficiaries.length > 1">beneficiaries</span>
                        <div class="prjt-box--content" *ngFor="let beneficiary of project?.beneficiaries | sort: 'beneficiaryLabel'">
                            <span class="no-bold" *ngIf="!beneficiary?.link">{{beneficiary.beneficiaryLabel}}</span>
                            <a *ngIf="beneficiary?.link" [target]="isModal ? '_blank': '_self'" [routerLink]="['/beneficiaries/' + beneficiary.link.replace(entityURL, '')]">
                                {{beneficiary.beneficiaryLabel}}
                            </a>
                        </div>
                        <div class="prjt-box--content" *ngIf="project?.beneficiaries.length == 0">
                            <span class="no-bold" >n/a</span>
                        </div>
                    </div>

                    <!-- Box large 1 -->
                    <!--<div class="prjt-box__large">
                        <div class="prjt-box prjt-box&#45;&#45;grey">
                            <h2 class="prjt-box&#45;&#45;title">related materials</h2>
                            <div class="prjt-box&#45;&#45;content">
                                <span>Image & Videos</span>
                                <span>Communication campaign</span>
                            </div>
                        </div>
                    </div>-->
                </eui-page-column-body>
            </eui-page-column>

            <eui-page-column class="column-without-title main-content">
                <eui-page-column-header-right-content>
                </eui-page-column-header-right-content>
                <eui-page-column-body>
                    <div class="article--post__wrapper">
                        <article class="article--post">
                            <header>
                                <div class="article--post__image">
                                    <figure role="presentation" class="prj-image">
                                        <div class="prj-image--wrapper">
                                            <a (click)="uxService.openModal('imageOverlay')" class="prj-image&#45;&#45;link">
                                                <div class="prj-image--image">
                                                    <img [src]="project?.images[0].image" alt="" *ngIf="project?.images && project?.images.length">
                                                </div>
                                            </a>
                                            <div class="default-theme-image" *ngIf="!project?.images || !project?.images.length">
                                                <img *ngIf="project?.objectiveId" class="topic" src="{{'assets/images/topics/' + project?.objectiveId + '.png'}}">
                                            </div>
                                        </div>
                                        <footer *ngIf="project?.images && project?.images.length">{{project?.images[0].imageCopyright}}</footer>
                                    </figure>
                                </div>
                            </header>
                            <div class="article--post__inner">
                                <h1 class="article--post__title">
                                    {{project?.label}}
                                </h1>
                                <div class="article--post__content">
                                    <p class="article--post__teaser">{{project?.description}}</p>
                                </div>

                                <div class="social-icons__wrapper">
                                    <span class="title">share </span>
                                    <ul class="social-icons">
                                        <li>
                                            <a [href]="'https://www.facebook.com/sharer/sharer.php?u=' + currentUrl" target="_blank">
                                                <span>Facebook</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a [href]="'https://www.linkedin.com/sharing/share-offsite/?url='+ currentUrl" target="_blank">
                                                <span>LinkedIn</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://instagram.com/" target="_blank">
                                                <span>Instagram</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a [href]="'https://twitter.com/intent/tweet?url=' + currentUrl" target="_blank">
                                                <span>Twitter</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a [href]="'mailto:mail@example.com?subject=European commission - Kohesio Open Projects&body='+ currentUrl" target="_blank">
                                                <span>Mail</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="map__wrapper">
                        <h2 class="title">
                            <img class="flag" src="{{'assets/images/flags/' + project?.countryCode.toLowerCase() + '.png'}}">
                            In
                            <ng-container *ngIf="project?.regionText">
                                {{project?.regionText}}
                            </ng-container>
                            <ng-container *ngIf="!project?.regionText">[THE REGION]</ng-container>
                        </h2>
                        <app-map mapId="map-details" hideNavigation="true"></app-map>
                    </div>

                    <!-- Box large 1 -->
                    <!--<div class="prjt-box__large">
                        <div class="prjt-box prjt-box&#45;&#45;grey">
                            <h2 class="prjt-box&#45;&#45;title">related materials</h2>
                            <div class="prjt-box&#45;&#45;content">
                                <span>Images & Videos</span>
                                <span>Communication campaign</span>
                            </div>
                        </div>
                    </div>-->
                </eui-page-column-body>
            </eui-page-column>
        </eui-page-columns>
    </eui-page-content>
</eui-page>
