<!--<ux-modal id="mapModal" titleLabel="Map View" [isSizeLarge]="true" [isFooterVisible]="false" (onAnimationEnd)="onMapModalAnimationEnd($event)">
    <uxModalBody>
        <div class="map-container">
            <div class="map-frame">
                <div id="map-inside"></div>
            </div>
        </div>
    </uxModalBody>
</ux-modal>-->

<div class="prjt-results">
    <ux-layout-page-column mainTitle="SEARCH ON PROJECTS" size="xxxl" [isCollapsible]="false">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <ux-form-group label="KEYWORDS" [isVertical]="true">
                <input class="form-control" type="text" formControlName="keywords"/>
            </ux-form-group>
            <ux-form-group label="COUNTRIES" [isVertical]="true">
                <ux-form-control formControlName="country"
                                 [isSelect]="true"
                                 [selectOptions]="countries"
                (modelChange)="onCountryChange()">
                </ux-form-control>
            </ux-form-group>
            <ux-form-group label="REGIONS" [isVertical]="true">
                <ux-form-control formControlName="region"
                                 [isSelect]="true"
                                 [selectOptions]="regions">
                </ux-form-control>
            </ux-form-group>
            <ux-form-group label="THEMES" [isVertical]="true">
                <ux-form-control formControlName="theme"
                                 [isSelect]="true"
                                 [selectOptions]="themes">
                </ux-form-control>
            </ux-form-group>
            <ux-panel label="ADVANCED FILTERS" [isExpandable]="true" [isFlat]="true">
                Dynamic filters here
            </ux-panel>
            <ux-button type="submit" [isBlock]="true">SHOW RESULTS</ux-button>
        </form>
    </ux-layout-page-column>

    <ux-layout-page-column>
        <ux-tabs (tabSelected)="onTabSelected($event)">
            <ux-tab label="Results">
                <div class="loading" *ngIf="isLoading">Loading...</div>
                <div class="no-results" *ngIf="projects && projects.length === 0 && !isLoading">No results</div>
                <div class="article--post__wrapper">
                    <article class="article--post" *ngFor="let project of (projects ? projects.slice(getPageIndexStart(),getPageIndexEnd()): [])">
                        <header>
                            <div class="article--post__image">
                                <figure role="presentation" class="prj-image">
                                    <a href="#" class="prj-image--link">
                                        <div class="prj-image--wrapper">
                                            <img src="#" alt="#" class="prj-image--image" *ngIf="project.images && project.images.length">
                                            <div class="detault-theme-image" *ngIf="!project.images || !project.images.length">
                                                <img *ngIf="project.objectiveId" class="topic" src="{{'assets/images/topics/' + project.objectiveId + '.png'}}">
                                            </div>
                                        </div>
                                    </a>
                                </figure>
                            </div>
                        </header>
                        <div class="article--post__inner">
                            <h1 class="article--post__title">
                                <a [routerLink]="['/projects/' + project.item]">{{project.title}}</a>
                            </h1>
                            <footer class="article--post__footer">
                                <ul class="nowrap">
                                    <li class="article--post__theme">
                                        <span class="icon">
                                            <img *ngIf="project.objectiveId" class="topic" src="{{'assets/images/topics/' + project.objectiveId + '.png'}}">
                                        </span> {{projectService.getThemeLabel(project.objectiveId)}}
                                    </li>
                                    <li class="article--post__amount">
                                        <div class="article--post__amount--inner">
                                            <span class="flag"><img class="flag" src="{{'assets/images/flags/' + project.countryCode.toLowerCase() + '.png'}}"></span>
                                            <span class="amount">
                                                <!--span class="euro">€</span--> {{ project.budget | budget}}
                                                <span class="support">Amount EU support</span>
                                            </span>
                                        </div>
                                    </li>
                                    <li class="article--post__years">
                                        <span class="icons">
                                            <ux-a-icon iconClass="fa fa-clock-o" [isRounded]="false"></ux-a-icon>
                                        </span>
                                        <span class="time-start-end">
                                            <ux-a-date-tag *ngIf="project.startTime" [date]="project.startTime" [isVerticalLayout]="false" [isAgnostic]="true"  dateFormat='MMMM YYYY'></ux-a-date-tag>
                                        </span>
                                    </li>
                                </ul>
                            </footer>
                            <div class="article--post__content">
                                <p class="article--post__teaser" [innerHTML]="project.getFullDescription()">
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </ux-tab>
            <ux-tab label="Audio-visual">
                Audio-visual
            </ux-tab>
            <ux-tab label="Map">
                    <div id="map-inside"></div>
            </ux-tab>
            <uxTabsRightContent>
                <mat-paginator [length]="projects.length"
                               [pageSize]="15"
                               [hidePageSize]="true"
                               [pageSizeOptions]="[15, 30, 60]"
                               (page)="onPaginate($event)"
                               [hidden]="isLoading">
                </mat-paginator>
                <!--<ux-button *ngIf="this.loadedDataPoints" (click)="uxService.openModal('mapModal')" iconClass="fa fa-globe">Map View</ux-button>-->
            </uxTabsRightContent>
        </ux-tabs>
    </ux-layout-page-column>
</div>
