.ecl-social-media-follow__item {
    margin-right: 0px !important;
}
/*Page Detail Common Styles*/
.kohesio-social-icons-wrapper {
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    justify-content: flex-end;
    margin-top: 1rem !important;

    .title {
        font-variant: small-caps;
        font-weight: bold;
        font-size: 1rem;
        margin-right: 5px;
    }
}
.kohesio-page-detail{
    .kohesio-page-detail-tools{
        display: flex;
        justify-content: flex-end;
    }
    .kohesio-page-detail-container{
        display: flex;
        margin-top: 1rem;
        .kohesio-side-content{
            display: flex;
            min-width:350px;
            max-width:350px;
            flex-direction: column;
            .kohesio-side-content-block{
                background: #ebebeb;
                border-radius: 6px;
                padding: 15px;
                margin-bottom: 30px;
                span:first-child {
                    font-weight: bold;
                }
                span:first-child.no-bold {
                    font-weight: normal;
                }
                .title{
                    color: #404040;
                    font-size: .8rem;
                    font-weight: 700;
                    font-variant: small-caps;
                    margin-bottom: 15px;
                }
                .content{
                    color: #000;
                    font-size: 1rem;
                    line-height: 1.4;
                    .flag{
                        width:24px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .kohesio-main-content{
            display: flex;
            flex-direction: column;
            width:100%;
            .kohesio-article-wrapper{
                margin-bottom:1rem;
                article{
                    display:flex;
                    img{
                        width:150px;
                        height:150px;
                        border-radius: 10px;
                    }
                    .kohesio-article-post-inner{
                        width:100%;
                        margin-left: 0.8rem;
                        h1{
                            margin-top:0;
                        }
                    }
                    .kohesio-article-post-inner-header{
                        display: flex;
                    }
                    .project-theme-image, .project-theme-image-mobile{
                        footer{
                            color: #9c9c9c;
                            font-size: 0.8rem;
                            font-style: italic;
                            line-height: 1;
                            margin-top: 3px;
                            text-align: center;
                            max-width: 150px;
                        }
                    }
                    .default-theme-image{
                        width: 154px;
                        height: 154px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #EFEFEF;
                        border-radius: 12px;
                        img{
                            height:84px;
                            width:auto;
                            background-repeat: no-repeat;
                            background-size: 100%;
                            vertical-align: middle;
                            border-style: none;
                        }
                    }
                }
            }
            .kohesio-map-wrapper{
                margin-bottom:1rem;
                img{
                    width:24px;
                    height:24px;
                    vertical-align: middle;
                }
            }
        }
    }

}

@include media(">medium") {
    .kohesio-page-detail.modal{
        margin-bottom: 2rem;
    }
    .kohesio-page-detail{
        .kohesio-main-content{
            margin-left:1rem;
        }
        .kohesio-article-post-inner-header{
            img, .project-theme-image-mobile{
                display:none;
            }
        }
        .kohesio-page-detail-container{
            .kohesio-side-content-block{
                .content{
                    margin-left:25px;
                }
            }
        }
    }
}

@include media("<=medium") {
    .kohesio-page-detail.modal{
        margin-bottom: 5rem;
    }
    .kohesio-social-icons-wrapper {
        display: flex;
        flex-direction: row;
        ul{
            flex-direction: row;
            li{
                margin-top: 0 !important;
            }
        }
    }
    .kohesio-page-detail{
        .kohesio-page-detail-container{
            flex-direction: column-reverse;
            .kohesio-side-content{
                max-width:none;
                min-width:unset;
            }
            .kohesio-side-content-block{
                .content{
                    margin-left:10px;
                }
            }
        }
        .kohesio-main-content{
            margin-left:0;
            margin-bottom:1rem;
            .kohesio-article-wrapper{
                article{
                    flex-direction: column;
                    
                    .kohesio-article-post-inner{
                        margin-left: 0;
                    }
                    img, .project-theme-image{
                        display:none;
                    }
                    .kohesio-article-post-inner-header{
                        h1{
                            margin-left: 1rem;
                        }
                        img{
                            display:initial;
                        }
                    }
                }
            }
        }
    }
}
/*End Page Detail Common Styles*/