<ng-container *ngIf="projectDetail">
    <div style="display: flex;justify-content: flex-end;">
        <button mat-icon-button color="primary" matDialogClose>
            <mat-icon color="warn">close</mat-icon>
        </button>
    </div>
    <h2 mat-dialog-title>{{projectDetail.label}}</h2>
</ng-container>
<mat-dialog-content class="mat-typography">
    <ng-container *ngIf="!projectDetail">
        <div class="center-spinner">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>
    <ng-container *ngIf="projectDetail">
        <app-project-detail [project]="projectDetail" [isModal]="true"></app-project-detail>
    </ng-container>
</mat-dialog-content>
