<nav class="ecl-breadcrumb-harmonised ecl-page-header-harmonised__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
    data-ecl-breadcrumb-harmonised="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb-harmonised__container">
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <a [routerLink]="['/']"
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link" i18n="@@comp.breadcrumb.home">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link" i18n="@@page.users.breadcrumb.dashboard">User Dashboard</span>
        </li>
    </ol>
</nav>
<div class="ecl-container">
    <div class="page-header">
        <h1 i18n="@@page.users.dashboard.title">Users</h1>
        <div class="action-buttons">
            <kohesio-ecl-button type="button" (click)="saveUser()" variant="call" *ngIf="userService.isAdmin()" i18n="@@page.users.dashboard.button.add">Add User</kohesio-ecl-button>
            <kohesio-ecl-button type="button" (click)="inviteUser()" variant="call" *ngIf="!userService.isAdmin()" i18n="@@page.users.dashboard.button.invite">Invite User</kohesio-ecl-button>
        </div>
    </div>
    <div class="users-table" *ngIf="usersList">
        <ng-container *ngFor="let message of messages">
            <kohesio-ecl-message [type]="message.type" [message]="message.message" (dismissMessage)="dismissMessage($event)"></kohesio-ecl-message>
        </ng-container>
        <div class="ecl-table-responsive">
            <table class="ecl-table ecl-table--zebra">
                <thead class="ecl-table__head">
                <tr class="ecl-table__row">
                    <th class="ecl-table__header" i18n="@@page.users.dashboard.label.email">Email</th>
                    <th class="ecl-table__header" i18n="@@page.users.dashboard.label.name">Name</th>
                    <th class="ecl-table__header" i18n="@@page.users.dashboard.label.organization">Organization</th>
                    <th class="ecl-table__header" i18n="@@page.users.dashboard.label.role">Role</th>
                    <th class="ecl-table__header" i18n="@@page.users.dashboard.label.active">Active</th>
                    <th class="ecl-table__header" i18n="@@page.users.dashboard.label.actions">Actions</th>
                </tr>
                </thead>
                <tbody class="ecl-table__body">
                    <tr class="ecl-table__row" *ngFor="let user of usersList" style="height: 70px;">
                        <td data-ecl-table-header="User ID" class="ecl-table__cell">{{user.email}}</td>
                        <td data-ecl-table-header="Name" class="ecl-table__cell">{{user.name}}</td>
                        <td data-ecl-table-header="Organization" class="ecl-table__cell">{{user.organization}}</td>
                        <td data-ecl-table-header="Role" class="ecl-table__cell">{{user.role}}</td>
                        <td data-ecl-table-header="Active" class="ecl-table__cell">
                            <svg *ngIf="user.active" class="ecl-icon ecl-icon--m" focusable="false" aria-hidden="true">
                                <use xlink:href="assets/images/ecl/icons.a892a63d.svg#check"></use>
                            </svg>
                        </td>
                        <td data-ecl-table-header="Actions" class="actions ecl-table__cell">
                            <kohesio-ecl-button variant="secondary" type="button" (click)="saveUser(user)"
                                *ngIf="(userService.isAdmin() || (userService.isReviewer() && user.role=='EDITOR'))"
                                i18n="@@page.users.dashboard.button.edit">
                                    Edit
                            </kohesio-ecl-button>&nbsp;
                            <kohesio-ecl-button variant="secondary" type="button" (click)="deleteUser(user)"
                                *ngIf="(userService.isAdmin()) || (userService.isReviewer() && user.role=='EDITOR')"
                                i18n="@@page.users.dashboard.button.delete">
                                    Delete
                            </kohesio-ecl-button>&nbsp;
                            <kohesio-ecl-button variant="secondary" type="button" (click)="impersonateUser(user)"
                                *ngIf="user.role!='ADMIN' && userService.isAdmin()"
                                i18n="@@page.users.dashboard.button.impersonate">
                                Impersonate
                            </kohesio-ecl-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
