.page-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.action-buttons{
  kohesio-ecl-button{
    margin-right: 5px;
  }
}
.actions.ecl-table__cell{
  display: flex;
}
.ecl-table__cell{
  font-size:14px;
}
