a {
    color: #004494;
}
.ccis-title{
  font-weight: bold;
}
.ccis-list{
  word-break: break-word;
}
.cell-flex-content{
  display: flex;
  justify-content: space-between;
}
.loo_filters{
  background-color: #f5f5f5;
}
