<nav class="ecl-breadcrumb-harmonised ecl-page-header-harmonised__breadcrumb" aria-label="You&#x20;are&#x20;here&#x3A;"
    data-ecl-breadcrumb-harmonised="true" data-ecl-auto-init="BreadcrumbHarmonised">
    <ol class="ecl-breadcrumb-harmonised__container">
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <a [routerLink]="['/']"
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link" i18n="@@comp.breadcrumb.home">Home</a>
            <span style="margin-right:10px; margin-left:10px; font-weight: bold;">></span>
        </li>
        <li class="ecl-breadcrumb-harmonised__segment" data-ecl-breadcrumb-harmonised-item="expandable">
            <span
                class="ecl-link ecl-link--standalone ecl-link--no-visited ecl-breadcrumb-harmonised__link" i18n="@@page.faq.breadcrumb.faq">Frequently asked questions</span>
        </li>
    </ol>
</nav>
<div class="ecl-container">
    <div class="ecl-row ecl-u-pt-xs">
        <div class="ecl-col-l-3">
            <nav data-ecl-auto-init="InpageNavigation" class="ecl-inpage-navigation" data-ecl-inpage-navigation="true">
                <div class="ecl-inpage-navigation__title" i18n="@@page.faq.pageContent.title">Page contents</div>
                <div class="ecl-inpage-navigation__body"> <button type="button" class="ecl-inpage-navigation__trigger"
                    id="ecl-inpage-navigation-trigger" data-ecl-inpage-navigation-trigger="true"
                    aria-controls="ecl-inpage-navigation-list" aria-expanded="false"> <span
                      class="ecl-inpage-navigation__trigger-current"
                      data-ecl-inpage-navigation-trigger-current="true">&nbsp;</span><svg focusable="false" aria-hidden="true"
                      class="ecl-inpage-navigation__trigger-icon ecl-icon ecl-icon--s ecl-icon--rotate-180">
                      <use xlink:href="assets/images/ecl/icons.a892a63d.svg#corner-arrow"></use>
                    </svg> </button>
                    <ul class="ecl-inpage-navigation__list" aria-labelledby="ecl-inpage-navigation-trigger"
                        data-ecl-inpage-navigation-list="true" id="ecl-inpage-navigation-list">
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-1'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section1.title">What is EU Cohesion Policy?</a> </li>
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-2'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section2.title">What is the scope of Kohesio?</a> </li>
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-3'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section3.title">What are the legal basis and the data sources?</a> </li>
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-4'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section4.title">What are the mandatory fields in the list of operations?</a> </li>
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-5'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section5.title">How often do you update the data?</a> </li>
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-6'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section6.title">How do you translate projects and descriptions? Are you going to provide additional languages?</a> </li>
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-7'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section7.title">How do you enrich the data?</a> </li>
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-8'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section8.title">Can I download the datasets?</a> </li>
                        <li class="ecl-inpage-navigation__item"> <a data-ecl-inpage-navigation-link="true" [href]="translateService.routes.faq + '#' + translateService.sections.section + '-9'"
                            class="ecl-inpage-navigation__link ecl-link ecl-link--standalone" i18n="@@page.faq.section9.title">Where can I find additional information and complementary data about Cohesion Policy?</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="ecl-col-l-9 ecl-u-pt-none">
            <h1 class="ecl-u-type-heading-1" i18n="@@page.faq.title">Frequently asked questions</h1>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-1'" i18n="@@page.faq.section1.title">What is EU Cohesion Policy?</h2>
            <ng-container i18n="@@page.faq.section1.description">
              <p class="ecl-u-type-paragraph"><a href="https://ec.europa.eu/regional_policy/en/policy/what/investment-policy/" target="blank">EU Cohesion Policy</a> contributes to strengthening economic, social and territorial cohesion in the European Union. It aims to correct imbalances between countries and regions. It delivers on the Union's political priorities, especially the green and digital transitions.</p>
              <p class="ecl-u-type-paragraph">EU Cohesion Policy is the main investment policy of the European Union. Nearly one third of the total budget of the Union is set aside in 2021-2027, corresponding to €392 billion.</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-2'" i18n="@@page.faq.section2.title">What is the scope of Kohesio?</h2>
            <ng-container i18n="@@page.faq.section2.description">
              <p class="ecl-u-type-paragraph">Kohesio contains information about projects supported by EU Cohesion policy for the 2014-2020 programming period.</p>
              <p class="ecl-u-type-paragraph">Kohesio covers all the projects developed under the national and regional operational programmes and co-financed by the <a href="https://ec.europa.eu/regional_policy/en/funding/erdf/" target="blank">European Regional Development Fund</a> (ERDF), the <a href="https://ec.europa.eu/regional_policy/en/funding/cohesion-fund/" target="blank">Cohesion Fund</a> (CF), and the <a href="https://ec.europa.eu/esf/" target="blank">European Social Fund</a> (ESF), including where relevant the Youth Employment Initiative.</p>
              <p class="ecl-u-type-paragraph">In the current version, Kohesio does not include the <a href="https://ec.europa.eu/regional_policy/en/policy/cooperation/european-territorial/" target="blank">European Territorial Cooperation Programmes</a> projects (also known as INTERREG). We plan to integrate these programmes in our next Kohesio version. If you wish to know more about INTERREG projects, please visit the <a href="https://keep.eu" target="blank">Keep.eu</a> platform.</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-3'" i18n="@@page.faq.section3.title">What are the legal basis and the data sources?</h2>
            <ng-container i18n="@@page.faq.section3.description">
              <p class="ecl-u-type-paragraph">The Common Provision Regulation (CPR - <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex%3A32013R1303" target="blank">Regulation (EU) No 1303/2013</a> for 2014-2020 and <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=CELEX%3A32021R1060" target="blank">Regulation (EU) 2021/1060</a> for 2021-2027 period) is the reference legislation for the EU Cohesion policy. Specific communication and transparency provisions require Member States and <a href="https://ec.europa.eu/regional_policy/en/atlas/managing-authorities/" target="blank">Managing Authorities</a> to publish the lists of operations and update them every six months (requirement for the 2014-2020 programming period).</p>
              <p class="ecl-u-type-paragraph">Therefore, these lists of operations are the primary data sources for Kohesio.</p>
              <p class="ecl-u-type-paragraph">Kohesio standardises and aggregates the data from these lists and makes them publicly available.</p>
              <p class="ecl-u-type-paragraph">It is the responsibility of the Member States and Managing Authorities to ensure that the data is produced and updated in accordance with the relevant regulations.</p>
              <p class="ecl-u-type-paragraph">The European Commission cannot accept any liability for the accuracy of content from the list of operations in Kohesio.</p>
              <p class="ecl-u-type-paragraph">For more information, check the <a href="https://ec.europa.eu/info/legal-notice_en" target="blank">Legal Notice</a> and the <a [routerLink]="['/'+translateService.routes.privacy]">Privacy Statement</a>.</p>
            </ng-container>
            <kohesio-ecl-accordion class="kohesio-faq-projects-block"
                                   i18n-title="@@@@page.faq.listsOfOperations.title"
                                   title="Lists of operations" [collapsed]="true">
                <div class="ecl-table-responsive" style="overflow: scroll;background-color: white;">
                    <div class="loo_filters">
                        <kohesio-ecl-form-group>
                            <kohesio-ecl-form-label i18n="@@page.projects.label.country">COUNTRY</kohesio-ecl-form-label>
                            <kohesio-ecl-form-select [(ngModel)]="countrySelected" [items]="this.countries" (change)="onCountryChange($event)"></kohesio-ecl-form-select>
                        </kohesio-ecl-form-group>
                    </div>
                    <table class="ecl-table ecl-table--zebra">
                        <thead class="ecl-table__head">
                        <tr class="ecl-table__row">
                            <th class="ecl-table__header" i18n="@@page.faq.listsOfOperations.table.id">Id</th>
                            <th class="ecl-table__header" i18n="@@page.faq.listsOfOperations.table.title">Title</th>
                            <th class="ecl-table__header" i18n="@@page.faq.listsOfOperations.table.url">Url</th>
                            <th class="ecl-table__header" i18n="@@page.faq.listsOfOperations.table.lastUpdate">Last update in Kohesio</th>
                            <th class="ecl-table__header" i18n="@@page.faq.listsOfOperations.table.country">Country</th>
                        </tr>
                        </thead>
                        <tbody class="ecl-table__body">
                        <tr class="ecl-table__row" *ngFor="let loo of listOfOperation">
                            <td class="ecl-table__cell">{{loo.id}}</td>
                            <td class="ecl-table__cell">
                                <div class="cell-flex-content">
                                    <div>{{loo.instanceLabel}}</div>
                                    <div>
                                        <popper-content #id>
                                            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                                                <h5 class="ecl-u-type-heading-5 ecl-u-mv-none"
                                                    i18n="@@page.faq.section10.popper.ccis.text">CCIs covered by the list of operations:</h5>
                                                <svg (click)="id.hide()" class="ecl-icon ecl-icon--s" focusable="true" aria-hidden="true">
                                                    <use xlink:href="assets/images/ecl/icons.a892a63d.svg#close"></use>
                                                </svg>
                                            </div>
                                            <div class="ccis-list">
                                                {{loo.ccis.toString()}}
                                            </div>
                                        </popper-content>
                                        <div [popper]="id"
                                             popperApplyClass="info-tooltip"
                                             [popperHideOnClickOutside]="true"
                                             [popperHideOnScroll]="true"
                                             [popperPositionFixed]="true"
                                             class="infoButton" >
                                            <svg class="ecl-icon ecl-icon--s" focusable="true" aria-hidden="true">
                                                <use xlink:href="assets/images/ecl/icons.a892a63d.svg#information"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="ecl-table__cell"><a [href]="loo.url">url</a></td>
                            <td class="ecl-table__cell">{{loo.lastUpdate | date:'d MMMM yyyy'}}</td>
                            <td class="ecl-table__cell">{{loo.country}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </kohesio-ecl-accordion>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-4'" i18n="@@page.faq.section4.title">What are the mandatory fields in the list of operations?</h2>
            <ng-container i18n="@@page.faq.section4.description">
                <p class="ecl-u-type-paragraph">In line with Annex XII of the <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/?uri=celex%3A32013R1303" target="blank">Regulation (EU) No 1303/2013</a>, the lists of operations must contain the following information for each operation:</p>
                <ul class="ecl-unordered-list">
                    <li class="ecl-unordered-list__item">Beneficiary name</li>
                    <li class="ecl-unordered-list__item">Operation name</li>
                    <li class="ecl-unordered-list__item">Operation summary</li>
                    <li class="ecl-unordered-list__item">Operation start and end date</li>
                    <li class="ecl-unordered-list__item">Total eligible expenditure allocated to the operation</li>
                    <li class="ecl-unordered-list__item">Union co-financing rate</li>
                    <li class="ecl-unordered-list__item">Project location information (e.g. postal code, region)</li>
                    <li class="ecl-unordered-list__item">Name of the category of intervention for the operation</li>
                </ul>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-5'" i18n="@@page.faq.section5.title">How often do you update the data?</h2>
            <ng-container i18n="@@page.faq.section5.description">
                <p class="ecl-u-type-paragraph">We update Kohesio regularly, based on the latest version of the lists of operations published by the Managing authorities. Lists of operations are updated at least every six months to comply with the legislation (requirement for 2014-2020 programming period).</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-6'" i18n="@@page.faq.section6.title">How do you translate projects and descriptions? Are you going to provide additional languages?</h2>
            <ng-container i18n="@@page.faq.section6.description">
                <p class="ecl-u-type-paragraph">We use <a href="https://ec.europa.eu/cefdigital/wiki/display/CEFDIGITAL/eTranslation" target="blank">eTranslation</a>, the machine translation tool designed by the European Commission, to translate automatically into English the operation / project titles and descriptions in Kohesio. Users can access the original project information by clicking on the “More” button at the top right of a project page.</p>
                <p class="ecl-u-type-paragraph">While we strive to offer the best accuracy, translations of certain projects may be imprecise. You are encouraged to report these cases and join us in improving the overall quality of the Kohesio knowledge base by sending details to the <a href="mailto:REGIO-KOHESIO@ec.europa.eu" target="blank">Kohesio Team</a>.</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-7'" i18n="@@page.faq.section7.title">How do you enrich the data?</h2>
            <ng-container i18n="@@page.faq.section7.description">
                <p class="ecl-u-type-paragraph">Geographic coordinates (latitude and longitude) are computed from the address or postal code thanks to <a href="https://nominatim.org/" target="blank">Nominatim</a> (geocoding).</p>
                <p class="ecl-u-type-paragraph">Beneficiaries are linked to their Wikidata equivalents (whenever they exist) based on a machine learning algorithm. Accuracy is above 90% but linking errors remain possible, feel free to report them.</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-8'" i18n="@@page.faq.section8.title">Can I download the datasets?</h2>
            <ng-container i18n="@@page.faq.section8.description">
                <p class="ecl-u-type-paragraph">Yes! There are three ways to do this:</p>
                <ol class="ecl-ordered-list">
                    <li class="ecl-ordered-list__item">
                        If a specific search has less than 5 000 results (different filters can help you in doing so), a download button appears at the top left of the results. It is possible to download search results in .csv or .xlsx format.
                    </li>
                    <li class="ecl-ordered-list__item">
                        It is also possible to access the complete exports of projects and beneficiaries by country by clicking on <a href="/data">this link</a>.
                    </li>
                    <li class="ecl-ordered-list__item">
                        Data can also be downloaded using the <a href="https://linkedopendata.eu" target="blank">EU Knowledge Graph</a> query service.
                    </li>
                </ol>
                <p class="ecl-u-type-paragraph">For more information on reuse, policy, and copyright, check the <a href="https://ec.europa.eu/info/legal-notice_en" target="blank">Legal Notice</a> and the <a [routerLink]="['/'+translateService.routes.privacy]">Privacy Statement</a>.</p>
            </ng-container>

            <h2 class="ecl-u-type-heading-2" [id]="translateService.sections.section+'-9'" i18n="@@page.faq.section9.title">Where can I find additional information and complementary data about Cohesion Policy?</h2>
            <ng-container i18n="@@page.faq.section9.description">
              <p class="ecl-u-type-paragraph">You can find comprehensive and up-to-date information on Cohesion Policy on <a href="https://ec.europa.eu/regional_policy/en/" target="blank">InfoRegio</a>, the EU Regional Policy website.</p>
              <p class="ecl-u-type-paragraph">Additionally, <a href="https://cohesiondata.ec.europa.eu/" target="blank">Cohesion Data</a> provides datasets at programme level. It is an open data platform providing data on financing and achievements under the ESI Funds 2014-2020. The platform visualises the latest data available for over 530 programmes.</p>
            </ng-container>




        </div>
    </div>
</div>
